body {
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif;
}
footer {
  margin-top: 40px;
  background: #333;
  color: #eee;
  font-size: 11px;
  padding: 20px 0px;
}
footer ul {
  padding-left: 20px;
}
.centered {
  text-align: center;
}
