body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #ffffff;
}
body, td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#container {
	text-align: left;
	width: 762px;
	margin: 0 auto;
}
#header {
	display:none;
}
#footer 
{
	display:none;
}
#langButton
{
	display:none;
}
#eform_header {
	width: 580px;
}
#eform_header P {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 22px;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}
#left {
	float: left;
}
#right {
	float: right;
}
#clear {
	clear: both;
}
.eform_area {
	width: 580px;
	height: 26px;
	background-image: url(submitImages/area_bgr.gif);
	background-color: #CECECE;
	background-repeat: no-repeat;
	border-bottom: solid #000000 1px;
}
.eform_ques {
	width: 578px;
	background-color: #EFEFEF;
	border-left: solid #CECECE 1px;
	border-right: solid #CECECE 1px;
	border-bottom: solid #CECECE 1px;
}
.eform_ques_outer {
	width: 558px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 20px;
	margin-bottom: 10px;
}
.eform_area P {
	margin: 0;
	padding-left: 10px;
	padding-top: 7px;
	padding-right: 10px;
	font-size: 11px;
	padding-bottom: 6px;
	font-weight: bold;
}
#fixedButtons {
	display:none;
}
.noprint {display:none;}