<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

    <appSettings>
		<!--<add key="SmtpServer" value="smtp.serverload.net"/>-->
        <add key="SmtpServer" value="127.0.0.1"/>
        <add key="hw_url" value="http://test.healhtwatch.se"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="SqlConnection" connectionString="User Id=hw; Password=hw; Initial Catalog=healthWatch; Data Source=127.0.0.1,1433; Network Library=DBMSSOCN;"/>
		<add name="newsSqlConnection" connectionString="User Id=hw; Password=hw; Initial Catalog=healthWatchNews; Data Source=127.0.0.1,1433; Network Library=DBMSSOCN;"/>
        <add name="eFormSqlConnection" connectionString="User Id=hw; Password=hw; Initial Catalog=healthWatchNews; Data Source=127.0.0.1,1433; Network Library=DBMSSOCN;"/>-->
		<!--<add name="SqlConnection" connectionString="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add name="newsSqlConnection" connectionString="database=healthWatchNews;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
        <add name="eFormSqlConnection" connectionString="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>-->
		<add name="SqlConnection" connectionString="Server=DESKTOP-EDQBT7K\SQLEXPRESS;Database=healthWatch;Trusted_Connection=True;"/>
		<add name="newsSqlConnection" connectionString="Server=DESKTOP-EDQBT7K\SQLEXPRESS;Database=healthWatchnews;Trusted_Connection=True;"/>
        <add name="eFormSqlConnection" connectionString="Server=DESKTOP-EDQBT7K\SQLEXPRESS;Database=eform;Trusted_Connection=True;"/>
	</connectionStrings>
</configuration>