<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<connectionStrings>
		<add name="eForm" connectionString="Server=.;Database=eform;Trusted_Connection=True;"/>
		<add name="healthWatch" connectionString="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="RepositoryFactory" value="SQL"/>
		<add key="SqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="healthWatchSqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="eFormSqlConnection" value="Server=.;Database=eform;Trusted_Connection=True;"/>
		
		<add key="SmtpServer" value="some_invalid_link"/>
		<add key="SmtpUsername" value="test@localhost.com"/>
		<add key="SmtpPassword" value="password"/>
		<add key="SmtpSSL" value="true"/>
		<add key="BackupSmtpServer" value="127.0.0.1"/>
		
		<add key="eFormURL" value="http://localhost/eform/"/>
		<add key="healthWatchURL" value="http://test.healthwatch.se/"/>
		<add key="grpURL" value="http://localhost:25555/"/>
	</appSettings>
</configuration>