<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="RepositoryFactory" value="SQL" />
		<add key="SqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;" />
		<add key="healthWatchSqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;" />
		<add key="eFormSqlConnection" value="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;" />
		<add key="SmtpServer" value="smtp.serverload.net" />
		<add key="eFormURL" value="http://test.eform.se/" />
		<add key="healthWatchURL" value="http://test.healthwatch.se/" />
		<add key="grpURL" value="http://dev-grp.healthwatch.se/" />
	</appSettings>
	<!--<appSettings>
		<add key="SqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="healthWatchSqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="eFormSqlConnection" value="Server=.;Database=eform;Trusted_Connection=True;"/>
		<add key="SmtpServer" value="127.0.0.1"/>
		<add key="eFormURL" value="http://http://localhost/eform/"/>
		<add key="healthWatchURL" value="http://112.210.76.12/hw/"/>
		<add key="grpURL" value="http://localhost:25555/"/>
	</appSettings>-->
</configuration>