<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="eForm" connectionString="Server=.;Database=eform;Trusted_Connection=True;"/>
    <add name="healthWatch" connectionString="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="RepositoryFactory" value="SQL"/>
    <add key="SqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
    <add key="healthWatchSqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
    <add key="eFormSqlConnection" value="Server=.;Database=eform;Trusted_Connection=True;"/>
    <add key="SmtpServer" value="127.1.2.7"/>
    <add key="eFormURL" value="http://localhost/eform/"/>
    <add key="healthWatchURL" value="http://localhost/hw/"/>
  </appSettings>
</configuration>
