<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<!--<add key="SqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="healthWatchSqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="eFormSqlConnection" value="Server=.;Database=eform;Trusted_Connection=True;"/>-->
		<add key="SqlConnection" value="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=C:\Documents and Settings\ie185004\My Documents\Dropbox\IHG Ian Escarro\Projects\HW\HWgrp\App_Data\healthWatch.mdf;User Instance=True" />
		<add key="healthWatchSqlConnection" value="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=C:\Documents and Settings\ie185004\My Documents\Dropbox\IHG Ian Escarro\Projects\HW\HWgrp\App_Data\healthWatch.mdf;User Instance=True" />
		<add key="eFormSqlConnection" value="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=C:\Documents and Settings\ie185004\My Documents\Dropbox\IHG Ian Escarro\Projects\HW\HWgrp\App_Data\eform.mdf;User Instance=True" />
 	</appSettings>
</configuration>
