.exercise-options {
    background: #cdecf7;
    height: 41px;
    line-height: 41px;
    font-size: 15px;
    padding-left: 20px;
    border-top: 1px solid #97D2EB;
}
.exercise-options a {
    color: #4d4d4d;
}
.hw-button {
    color: #4d4d4d;
    margin-right: 26px;
    padding-left: 21px;
    height: 16px;
    letter-spacing: 1px;
}
.hw-button-save {
    background: url(../img/disk.png) no-repeat;
}
.hw-button-group {
    background: url(../img/group.png) no-repeat;
}
.hw-table {
    width: 100%;
}
.hw-table th, .hw-table td {
    padding: 3px;
}
.hw-icon {
    background: url(../img/comment.png) no-repeat;
    padding-left: 18px;
}

.small {
    font-size: 80%;
}
