/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/* table, caption, tbody, tfoot, thead, tr, th, td,*/
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */



/*	Default styles	*/
h1,h2,h3,h4,h5,h6 { text-rendering: optimizeLegibility; }
noscript {
	font-family: arial, 'helvetica', helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}
noscript div {
	padding: 5px;
	background: #666;
	color: #DDD;
	margin-left: auto; 
	margin-right: auto;
	text-align:center;
}

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

small { font-size:85%; }
strong, th { font-weight: bold; }

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button { cursor: pointer; }

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301  */
::-moz-selection{ text-shadow: none; color: white; background: #3B92C7; }
::selection { text-shadow: none; color: white; background: #3B92C7;  }

html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }



.rfloat { float: right; }
.lfloat {
	float: left;
}

.hidden { display:none; visibility:hidden; }
.vis_hidden { visibility:hidden; }

/* jQuery UI overrides */
.ui-widget-header, .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
		border: 0 !important;
}
.ui-state-hover {
	border-color: #3A80B7 !important;
	color: #3A80B7 !important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	margin: 2px;
}
.ui-datepicker {
	font-size: 12px !important;
}
/* Customized default styles */
body {
	font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; 
	font-family: georgia, serif;
	font-size: 1em;
	color: #666;
	font-weight: 85pt;
	background: url('resources/background.gif');
	background-position: center top;
}
a {
	color: #3a80b7;
	font-style: normal;
	text-decoration: none;
	cursor: pointer;
}
a:link { -webkit-tap-highlight-color: #3a80b7; }
a:hover, a:active { 
	text-decoration: underline;
}
a:visited {
	text-decoration: #666;
}
h1 {
	font-size: 1.5em;
	line-height: 120%;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 1px;
}
h2 {
	font-size: 1.5em;
	line-height: 120%;
	font-style: normal;
	padding-top: 27px;
	font-weight: normal;
	letter-spacing: 1px;
}
h3 {
	font-weight: normal;
	font-size: 15px;
}

hr {
	background: #fff url('resources/border.gif') no-repeat 24px 0;
	border: none;
	border-width: 0px;
	width: 972px;
	padding: 0 13px;
	margin-left: -26px;
	height: 10px;
	float: left;
}

/* Helper styles */
.regular { 
	background: url('resources/rsaquo.gif') no-repeat 0 4px;
	padding-left: 7px;
	font-size: 12px;
}
.lmargin {
	margin-left: 15px;
}
.placeholder {
	color: #aaa;
}

/* 	Sitewide element styles	*/

.container_16 {
	background: #fff;
}
.contentgroup {
	/*padding-bottom: 80px !important;*/
}
/* 	header specific styles	*/
.headergroup {
	height: 186px;
	background: #fff;
}
.headergroup .p2 {
	margin-top: 32px;
	margin-left: 20px;
	font-size: 20px;
	font-family: arial, Helvetica, sans-serif;
	line-height: 0.87em;
	height: 100px;
}
.headergroup .p2 .cobrand {
	margin-right: 10px;
}
.headergroup .p2 .cobrand {
	float: left;
}
.headergroup .p2 .brand {
	margin-bottom: -5px;
}
.sl .headergroup .p2 .brand {
	margin-bottom: 0px;
}
.headergroup .p2 .brand div {
	padding-bottom: 2px;
}
.headergroup .p2 a {
	margin-top: 0px;
}
.cobranded .headergroup #menu {
	margin-top: 9px;
}
.cobranded.sl .headergroup #menu {
	margin-top: 5px;
}
.headergroup .logincontainer {
	margin-top: 30px;
	font-family: arial, Helvetica, sans-serif;
	width: 400px;
}
.headergroup .logincontainer.loggedin {
	background: url('resources/myhealth_loggedin.gif');
	height: 40px;
	width: 294px;
	padding: 10px 8px;
	z-index: 99;
	font-size: 15px;
}
.headergroup .logincontainer.loggedin div, .headergroup .logincontainer.loggedin img {
	float: left;
}
.headergroup .logincontainer.loggedin img, .headergroup .logincontainer.loggedin div a {
	margin-right: 11px;
}
.headergroup .logincontainer.loggedin div {
	margin-top: 2px;
}
.headergroup .logincontainer.loggedin div .grey {
	color: #999999;
}
.headergroup .logincontainer .login_label {
	background: url('resources/login_key.gif') no-repeat 0px 3px;
	padding-left: 18px;
	margin-bottom: 3px;
}
.headergroup .logincontainer input {
	width: 120px;
	height: 24px;
	border: 2px solid #E6E6E6;
	margin-bottom: 3px;
	font-size: 13px;
	padding-left: 5px;
	float: left;
	margin-right: 2px;
	background: #F6F6F6;
}
.headergroup .logincontainer input[type=submit] {
	background: #FFF url('resources/login_button.png') no-repeat 1px 1px;
	width: 32px;
	height: 30px;
}
.headergroup .logincontainer .support {
	font-size: 12px;
	margin-right: 10px;
}

.headergroup #submenu {
	background: url('resources/landing_articles/landing_submenu.gif') no-repeat;
	height: 56px;
	padding-left: 2px;
	margin-top: -2px;
	font-family: arial, helvetica, arial, sans-serif;
	font-size: 15px;
}
.ie6 .myhealth .headergroup #submenu {
	margin-top: -132px;
}
.ie7 .headergroup #submenu {
	margin-top: -6px;
}
.ie9 .headergroup #submenu {
	margin-top: -3px;
}
.headergroup #submenu.myhealth {
	background: url('resources/myhealth_submenu.gif') no-repeat;
}
.headergroup #submenu a.home {
	margin-left: 15px;
	margin-right: 0px;
	margin-top: 12px;
	float: left;
}
.headergroup #submenu a {
	margin-left: 20px;
	float: left;
	margin-top: 18px;
	margin-right: 4px;
	color: #fff;
}

#submenu a.active {
	background: transparent url('resources/landing_articles/landing_submenu_active_a.gif') no-repeat scroll top right;
	color: #666666;
	display: block;
	float: left;
	height: 32px;
	margin-right: 6px;
	padding-right: 2px; /* sliding doors padding */
	text-decoration: none;
	margin-top: 12px;
}
#submenu a.home:hover {
	text-decoration: none;
}
#submenu a.home {
	background: url('resources/landing_articles/landing_submenu_home.gif') no-repeat;
	height: 32px;
	width: 52px;
	text-decoration: none;
}
#submenu a.active.home {
	background: url('resources/landing_articles/landing_submenu_home_active.gif') no-repeat;

}
#submenu a.active span {
	background: transparent url('resources/landing_articles/landing_submenu_active_span.gif') no-repeat;
	display: block;
	line-height: 14px;
	padding: 9px 10px 9px 10px;
}
.myhealth #submenu a.active {
	background: transparent url('resources/myhealth_submenu_active_a.gif') no-repeat scroll top right;
	color: #1C73A8;
	display: block;
	float: left;
	height: 32px;
	margin-right: 6px;
	padding-right: 2px; /* sliding doors padding */
	text-decoration: none;
	margin-top: 12px;
}
.myhealth #submenu a.active span {
	background: transparent url('resources/myhealth_submenu_active_span.gif') no-repeat;
	display: block;
	line-height: 14px;
	padding: 9px 10px 9px 10px;
}

/*	Footer specific styles	*/
.footergroup {
	height: 291px;
	font-family: arial, helvetica, arial, sans-serif;
	background: #fff;
	margin-top: 80px;
}
.footergroup hr {
		background: url('resources/footer_border.gif') repeat;
		height: 6px;
		float: left;
		margin: 0;
		width: 972px;
		padding: 0;
}
.footergroup .groupheader {
	text-transform: uppercase;
	font-size: 14px;
}
.footergroup ul {
	margin-top: 7px;
}
.footergroup ul li {
	list-style: none;
	margin-bottom: 4px;
	font-size: 12px;
}
.footergroup .newsgroup, .footergroup .healthgroup, .footergroup .aboutgroup, .footergroup .eugroup {
	padding-top: 26px;
	padding-left: 30px;
	height: 220px;
}
.footergroup .logogroup {
	width: 178px;
	float: left;
	border-right: 1px solid #e0e0e0;
	padding-top: 30px;
	padding-left: 40px;
	font-size: 11px;
	line-height: 1.9em;
	height: 220px;
}
.footergroup .newsgroup {
	width: 105px;
	float: left;
	border-right: 1px solid #e0e0e0;
}
.footergroup .healthgroup {
	width: 115px;
	float: left;
	border-right: 1px solid #e0e0e0;
}
.footergroup .aboutgroup {
	width: 144px;
	float: left;
	border-right: 1px solid #e0e0e0;
}
.footergroup .eugroup {
	width: 265px;
	float: left;
	font-size: 12px;
	padding-top: 27px;
}
.footergroup .eugroup img {
	margin-top: 7px;
	margin-bottom: 4px;
}
.footergroup .eugroup div {
	font-size: 11px;
	line-height: 1.1em;
}


/* 	Landing Page specific styles */

.container_16 {
	/*z-index: 50;
	opacity: 0.55 !important;*/
}
.datagroup { 
	background: #fff url('resources/border.gif') no-repeat 13px 140px;
	height: 166px;
}
.datagroup .justnow {
	background: url('resources/landing_articles/justnu.gif');
	height: 140px;
	width: 143px;
}
.datagroup .graphs {
	width: 820px;
}
.datagroup .landing_graph{
	float: left;
	padding: 30px 16px 0 0;
}
.datagroup .metadata {
	margin-top: 28px;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	width: 175px;
	float: left;
}
.datagroup .metadata .number {
	font-size: 26px;
	font-family: georgia, sans-serif;
	margin-bottom: 4px;
	color: #ff7d01;
}
.datagroup .metadata .number.low {
	color: #D80878;
}
.datagroup .metadata .number.med {
	color: #ff7d01;
}
.datagroup .metadata .number.high {
	color: #81BE23;
}
.datagroup .metadata .label {
	line-height: 1.27em;
}

.datagroup hr {
	margin-top: 0;
}

.contentgroup {
	background: #fff;
}
.contentgroup .column.one {
	margin-left: 0;
	margin-right: 0;
	border-right: 1px solid #e0e0e0;
}
.contentgroup .column.two {
	width: 370px;
}
.contentgroup .articles {
	width: 723px;
	border-right: 1px solid #e0e0e0;
}
/* 	article specific styles	*/
.contentgroup .column.two .article {
	padding-left: 20px;
	width: 350px;
}
.articles {
}
.article {
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	margin-top: 14px;
	padding-bottom: 13px;
}
.article.first {
	margin-top: 0px;
}
.article.last {
	border-bottom: none;
	padding-bottom: 0;
}
.article .content, .article h1, .article img {
	max-width: 95%;
}
.article h1 {
	line-height: 1.166em;
}
.article .taxonomy {
	font-family: arial, helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	margin-top: 5px;
	letter-spacing: 1px;
}
.article .taxonomy .date {
	font-size: 10px;
	letter-spacing: 0px;
}
.article .content {
	margin-top: 11px;
	font-family: arial, helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 1.3em;
}
.article .content .category {
	width: 26px;
	height: 26px;
	margin-right: 5px;
	float: left;
}
.article .content .category.pain {
	background: #fff url('resources/landing_articles/article_pain.gif') no-repeat;	
}
.article .content .category.psych {
	background: #fff url('resources/landing_articles/article_psych.gif') no-repeat;	
}
.article .content .category.science {
	background: #fff url('resources/landing_articles/article_science.gif') no-repeat;	
}
.article .content .text {
	float: left;
}
.article .content img {
	padding: 9px;
	border: 1px solid #e0e0e0;
	margin-bottom: 11px;
	float: left;
}
.article .more {
	line-height: 2.2em;
	background: #fff url('resources/landing_articles/arrow.gif') 1px 4px no-repeat;
	padding-left: 14px;
}
.article .more.external {
	background: #fff url('resources/landing_articles/arrow_external.gif') 1px 1px no-repeat;
	padding-left: 25px;
}

/* 	sidebar specific styles */
.sidebar {
	margin-left: 20px;
}
.sidebar img {
	margin-bottom: 16px;
}
.sidebar .box {
	margin-bottom: 20px;
	padding: 3px;
	border: 1px solid #e0e0e0;
}
.sidebar .box .label {
	background: url('resources/side_label.png') no-repeat;
	height: 21px;
	padding-top: 7px;
	padding-left: 10px;
}
.sidebar .box .label {
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
}
.sidebar .box ul {
	margin: 10px;
	list-style: none;
	font-size: 14px;
}
.sidebar .box ul li {
	margin-bottom: 11px;
	line-height: 1.1em;
}
.sidebar #wisdom {
	padding-bottom: 18px;
}
.sidebar #wisdom .kirkegaard {
	font-size: 20px;
	color: #7fab2c;
	padding-left: 10px;
	margin-top: 15px;
	line-height: 1.166em;
}
.sidebar #wisdom .author {
	text-transform: uppercase;
	font-family: arial, helvetica, arial, sans-serif;
	font-size: 11px;
	margin-top: 13px;
	padding-left: 10px;
}

/* index detail specific styles */
.detail .contentgroup {
	margin-top: 36px;
}
.detail .article {
	border: none;
}
.detail .article h1 {
	font-size: 2.1em;
}
.detail .article .taxonomy {
	margin-top: 10px;
	margin-bottom: 10px;
}
.detail .article .content .imgcontainer {
	width: 100%;
	float: left;
	margin-bottom: 7px;
}

.form_footer {
	background: url("resources/myhealth/form/myhealth_form_footer.gif");
	width: 868px;
	height: 31px;
	float: left;
	border-top: 1px solid #DDD;
	position: relative;
	top: -1px;
	left: -1px;
	padding: 21px 52px;
}
form input[type=submit] {
	/*background: url('resources/myhealth_submit.gif') no-repeat;
	border: 0;*/
	height: 32px;
	/*width: 99px;*/
	margin-right: 30px;
}
.form_footer a {
	color: #999999;
	font-size: 12px;
	text-decoration: underline;
}
/* Exercises */
.header {
	padding: 10px 18px;
	width: 928px;
	height: 27px;
	color: #3B92C7;
	font-size: 26px;
	letter-spacing: 0;
}
.sidearrow { 
	background: url('resources/myhealth/form/myhealth_formchoser_arrow.gif') no-repeat;
	margin-top: 3px;
	padding-left: 21px;
	padding-top: 1px;
	margin-right: 10px;
	height: 19px;
	float: left;
	margin-right: 0px;
	color: #3a80b7;
	font-style: normal;
	text-decoration: none;
 }
 .exercises .sidearrow {
 	padding-right: 16px;
 	margin-top: 8px;
 	font-size: 13px;
 }
 .exercises .forms a {
	background: transparent url('resources/myhealth/form/myhealth_formchoser_passive_a.gif') no-repeat scroll top right;
	color: #1C73A8;
	display: block;
	float: left;
	height: 26px;
	margin-left: 9px;
	padding-right: 2px; /* sliding doors padding */
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	margin-top: -1px;
	color: #fff;
}
.exercises .forms a span  {
	background: transparent url('resources/myhealth/form/myhealth_formchoser_passive_span.gif') no-repeat;
	display: block;
	padding: 5px 7px 8px 9px;
	color: #1C73A8;
}
.exercises .forms a.active  {
	background: transparent url('resources/myhealth/form/myhealth_formchoser_active_a.gif') no-repeat scroll top right;
}
.exercises .forms a.active span {
	background: transparent url('resources/myhealth/form/myhealth_formchoser_active_span.gif') no-repeat;
	color: #fff;
}
.exercises .statschosergroup {
	height: 106px;
	padding-top: 24px;
	padding-left: 2px;
	background: #EDF7FC url('resources/myhealth_statistics_stats.gif') repeat-x;
	border-bottom: 1px solid #DDD;
	padding-right: 15px;
	font-size: 15px;
}
.exercises .statschosergroup .header {
	float: left;
	width: auto;
	padding-top: 5px;
}
.exercises .statschosergroup .statschoser {
	background: url('resources/myhealth_exercises_statschooser_bgr.gif') no-repeat;
	width: 767px;
	height: 78px;
	float: right;
	padding: 4px;
}
.exercises .statschosergroup .statschoser .filter .title {
	background: url('resources/myhealth_statistics_statschooser_icons.gif') no-repeat;
	margin-left: 2px;
	padding-left: 21px;
	height: 16px;
	margin-bottom: 10px;
}
.exercises .statschosergroup .statschoser .filter.when .title {
	background-position: 0 -16px;
}
.exercises .statschosergroup .statschoser .filter.who .title {
	background-position: 0 -32px;
}

.exercises .statschosergroup .statschoser .filter.misc .title {
	background-position: 0 -48px;
}
.exercises .statschosergroup .statschoser .filter {
	float: left;
	width: 360px;
	padding: 10px;
}
.exercises .formchoser {
	background: #FFF;
	background-image: none;
}
.exercises .currentform {
	padding: 15px;
	padding-left: 18px;
	font-size: 13px;
	padding-top: 12px;
}
.exercises .currentform span {
	margin-top: 3px;
	padding-top: 1px;
	height: 19px;
	margin-right: 2px;
	color: #3a80b7;
	font-style: normal;
	text-decoration: none;
}
.exercises .currentform span.lastform {
	padding-left: 21px;
	background: url('resources/myhealth/form/myhealth_formchoser_arrow_down.gif') no-repeat;
}
.exercises .currentform span.period {
	color: #666;
}
.exercises .results {
	background: #F7F7F7 url('resources/myhealth_statistics_meta.gif') repeat-x;
	padding: 21px 18px;
	float: left;
	padding-top: 9px;
}
.exercises .results .largelegend {
	margin-top: 9px;
	margin-bottom: 22px;
	color: #808080;
	float: left;
	font-size: 12px;
	width: 100%;
}

/* very random placement of this code. */
.exercises .lastform {
	float: left;
}
.exercises .forms {
	float: left;
	margin-bottom: 10px;
	margin-left: -3px;
}

.exercises .forms span {
	margin-top: 0;
}


/* Hide this element if not needed */
.exercises .results .varchoser {
	background: url('resources/myhealth_varchoser_bgr.gif');
	width: 921px;
	height: 77px;	
	padding-left: 11px;
	margin-bottom: 10px;
}
.exercises .results .choser .title {
	background: url('resources/myhealth_statistics_varchoser_icons.gif') no-repeat 0 13px;
	padding-left: 21px;
	height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	padding-top: 13px;
}
.exercises .statschosergroup .statschoser .filter.when .title {
	background-position: 0 -16px;
}
.exercises .statschosergroup .statschoser .filter.who .title {
	background-position: 0 -32px;
}
.exercises .statschosergroup .statschoser .filter {
	float: left;
	width: 360px;
	padding: 10px;
}
.exercises .formchoser {
	background: #FFF;
	background-image: none;
}

.exercises .varchoser .var {
	float: left;
	margin-right: 28px;
}
.exercises .varchoser .var4 {
	margin-right: 0;
}
.exercises .footergroup {
	margin-top: 97px;
}
.exercises .results .contentlist .item {
	background: url('resources/myhealth/statistics/myhealth_statistics_bar_bgr.gif') no-repeat;
	float: left;
	min-height: 16px;
	width: 912px;
	margin: -1px;
	margin-bottom: 0px;
	padding: 10px;
	padding-bottom: 10px;
	padding-top: 14px;
	font-size: 14px;
}
.exercises .results .contentlist .item.active {
	cursor: auto;
	background-position: 0px -36px;
}
.exercises .results .contentlist .item .time {
	float: right; 
	margin-right: 22px;
	padding-left: 32px;
	background: #eeeeee url(resources/ovningar/clock_1.png) no-repeat;
	height: 28px;
	line-height: 30px;
	max-width: 250px;
}
.exercises .results .contentlist .item .time-end {
	float: right;
	background: #eeeeee url(resources/ovningar/clock_2.png) no-repeat right;
	height: 28px;
	width: 10px;
	color: #eeeeee;
	position: relative;
	left: 4px;
	display: inline;
}
.ie6 .exercises .results .contentlist .item .time-end, .ie7 .exercises .results .contentlist .item .time-end {
	top: -30px;
}
.exercises .results .contentlist .item .descriptions {
	font-size: 11px;
}
.exercises .results .contentlist .item .image {
	margin: 0 22px;
	margin-right: 25px;
	width: 121px; 
	height: 100px; 
	background: lightgrey; 
	float: left;
}
.exercises .results .contentlist .item h2 {
	padding: 5px 0;
	font-size: 16px;
	font-weight: bold;
}
.exercises .results .contentlist .item p {
	font-size: 13px;
	max-width: 887px;
	max-height: 30px;
}
.exercises .results .contentlist .item .detail { 
	margin-left: -10px;
	padding-top: 10px;
	min-height: 120px;
	background: #fff;
	width: 930px;
	cursor: auto;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}
.exercises .results .contentlist .item .detail tr td .desk:hover {
	text-decoration: underline;
}
.exercises .results .contentlist .item .detail .bottom {
	width: 110%;
	background: url('resources/myhealth_excersises_bottom.gif') no-repeat;
	height: 4px;
	margin-left: -1px;
	margin-top: 20px;
}
/* semigeneralized exercises view styles */
.exercises .results .disclaimer {
	padding-top: 32px;
	font-size: 12px;
	color: #808080;
}
.exercises .bottom {
	width: 972px;
	height: 4px;
	float: left;
	background: url('resources/myhealth_statistics_bottom.gif');
	margin-left: -1px;
}


/* Dropdown styles */

.dropdown dd {
   margin:0px; 
   padding:0px; 
}
.dropdown dd { 
  position:relative; 
}
.dropdown a { 
  color: #fff; 
  text-decoration: none; 
  outline: none;
  font-size: 14px;
}
.dropdown a:hover { 
}
.dropdown dt a:hover {
}
.dropdown dt a {
  display: block; 
  height: 30px;
}
.statschoser dt a {
  background: #428cb8 url(resources/myhealth_statistics_statschoser_dropdown.gif) no-repeat scroll 0% 0%; 
  width: 236px;
}
.exercises .statschoser dt a {
  background: #428cb8 url(resources/myhealth_exercises_dropdown.gif) no-repeat scroll 0% 0%; 
  width: 361px;
}
.dropdown dt a span {
  cursor:pointer; 
  display:block;
  padding: 10px;
  padding-top: 6px;
}
.dropdown dd ul { 
  color:#C5C0B0; 
  display:none;
  left:0px; 
  position:absolute; 
	z-index: 98;
  top: 2px; 
  width: 236px; 
  overflow: ellipsis;
  list-style:none;
}
.exercises .dropdown dd ul { 
  width: 361px; 
}
.dropdown span.value { 
  display:none;
  visibility: hidden;
}
.dropdown dd ul li a { 
  padding: 5px 10px;
  display: block;
	background: url('resources/myhealth_statistics_statschoser_dropdown_active.gif') repeat-x #58a8cb;
	border-bottom: 1px solid #51a2c8;
}
/*.dropdown dd ul li {
	cursor: crosshair;
}*/
.dropdown dd ul li a:hover {
	background: url('resources/myhealth_statistics_statschoser_dropdown_active_hover.gif') repeat-x;
}
.dropdown dd ul li:first-child a {
	background: url('resources/myhealth_statistics_statschoser_dropdown_active_edge.gif') no-repeat 0 0;
}
.dropdown dd ul li:first-child a:hover {
	background: url('resources/myhealth_statistics_statschoser_dropdown_active_edge.gif') no-repeat -236px 0;
}
.exercises .dropdown dd ul li:first-child a {
	background: url('resources/myhealth_exercises_dropdown_active_edge.gif') no-repeat 0 0;
}
.exercises .dropdown dd ul li:first-child a:hover {
	background: url('resources/myhealth_exercises_dropdown_active_edge.gif') no-repeat -361px 0;
}

.dropdown dd ul li.last a {
	background: url('resources/myhealth_statistics_statschoser_dropdown_active_edge.gif') no-repeat 0px -63px;
	border-bottom: 0;
}
.exercises .dropdown dd ul li.last a {
	background: url('resources/myhealth_exercises_dropdown_active_edge.gif') no-repeat 0px -63px;
	border-bottom: 0;
} .dropdown dd ul li.last a:hover {
	background: url('resources/myhealth_statistics_statschoser_dropdown_active_edge.gif') no-repeat -236px -63px;
}
.exercises .dropdown dd ul li.last a:hover {
	background: url('resources/myhealth_exercises_dropdown_active_edge.gif') no-repeat -361px -63px;
}
.ie7 .dropdown dd ul li.last a {
	background: transparent url('resources/myhealth_statistics_statschoser_dropdown_active_edge.gif') no-repeat 0px -61px;
	padding-bottom: 11px;
}
.ie7 .dropdown dd ul li.last a:hover {
	background: transparent url('resources/myhealth_statistics_statschoser_dropdown_active_edge.gif') no-repeat -236px -61px;
	padding-bottom: 11px;
}
.ie7 .exercises .dropdown dd ul li.last a {
	background: transparent url('resources/myhealth_exercises_dropdown_active_edge.gif') no-repeat 0px -61px;
	padding-bottom: 11px;
}
.ie7 .exercises .dropdown dd ul li.last a:hover {
	background: transparent url('resources/myhealth_exercises_dropdown_active_edge.gif') no-repeat -236px -61px;
	padding-bottom: 11px;
}

.var dt a {
  background: #eee url(resources/myhealth_statistics_white_dropdown.gif) no-repeat scroll 0% 0%;
  width: 206px;
  height: 27px;
  font-size: 13px;
}
.var dt a span, .var ul li a {
  color: #666 !important;
}
.var1 dt a span {
  color: #4684EE !important;
}
.var2 dt a span {
  color: #FF9900 !important;
}
.var3 dt a span {
  color: #00804F !important;
}
.var4 dt a span {
  color: #DC3912 !important;
}
.var dd ul a {
  font-size: 13px;
}
.var dd ul { 
  background: #eee;
  display:none;
  left: 0px;
  position:absolute; 
  top: 2px; 
  width: 205px; 
  overflow: ellipsis;
  list-style: none;
}
.var dd ul li:first-child a {
	background: url('resources/myhealth_statistics_white_dropdown_active_edge.gif') no-repeat 0 0 #f2f2f2;
	border: 0;
	border-bottom: 1px solid #C8C8C8;
}
.var dd ul li:first-child a:hover {
	background: url('resources/myhealth_statistics_white_dropdown_active_edge.gif') no-repeat -205px 0 #fdfdfd;
}
.var dd ul li a {
	background: url('resources/myhealth_statistics_white_dropdown_active.gif') #f2f2f2;
	border-bottom: 1px solid #C8C8C8;
  border-right: 1px solid #C8C8C8;
  border-left: 1px solid #C8C8C8;
}
.var dd ul li a:hover {
	background: #fdfdfd;
}
.var dd ul li.last a {
	background: url('resources/myhealth_statistics_white_dropdown_active_edge.gif') no-repeat 0 -53px #f2f2f2;
	border: 0;
}
.var dd ul li.last a:hover {
	background: url('resources/myhealth_statistics_white_dropdown_active_edge.gif') no-repeat -205px -53px #fdfdfd;
	border: 0;
}
.ie7 .var dd ul li.last a {
	background: transparent url('resources/myhealth_statistics_white_dropdown_active_edge.gif') no-repeat 0px -47px;
	padding-bottom: 10px;
}
.ie7 .var dd ul li.last a:hover {
	background: transparent url('resources/myhealth_statistics_white_dropdown_active_edge.gif') no-repeat -205px -47px;
	padding-bottom: 11px;
}

/* statistics bottom radius thingy findfind */

@media all and (max-device-width: 480px) {
	.headergroup .logincontainer input[type=submit] {
		position: relative;
		left: 274px;
		top: -35px;
	}
}
