.ui-widget {
    font-family: Arial;
    font-size: 13px;
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    /*font: 14px/100% Arial, Helvetica, sans-serif;*/
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

.white {
    color: #606060;
    border: solid 1px #b7b7b7;
}

.white:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
}

.small {
    font-size: 11px;
    padding: .2em 1em .275em;
}

.report-part {
    border: 1px solid #e7e7e7;
}

.report-part-subject, .report-part-header, .report-part-content {
    padding: 10px;
}
/*.report-part:hover {
	background:#f1f9fd;
}*/
.report-part-subject {
    background: #e7e7e7;
    cursor: pointer;
}

.report-part-header {
    font-size: 13px;
}

.report-part-content {
    background: white;
    padding: 10px;
    margin-top: 5px;
}
/*.report-part-subject {
    height:16px;
    clear:both;
    cursor:pointer;
}
.report-part-subject h3 {
    float:left;
}
.report-part-subject span {
    float:right;
}*/
.chart-description1 {
    border: 1px solid #efefef;
    padding: 5px;
    background-color: #fcfcfc;
    margin-bottom: 5px;
    font-size: 9pt;
}

.chart-description {
    background: url(../img/myhealth_statistics_bar_detail_toggle.png);
}

.chart-descriptions-info {
    width: 16px;
    height: 16px;
    background: url(../img/information.png);
    display: inline-block;
    cursor: pointer;
}

.toggle {
    width: 32px;
    height: 16px;
    background: url(../img/myhealth_statistics_bar_detail_toggle.png);
    display: inline-block;
    cursor: pointer;
}

.toggle-right {
    float: right;
}

.toggle-active {
}

.toggle-active-hover {
    background: url(../img/myhealth_statistics_bar_detail_toggle.png);
    background-position: 0 -16px;
}
