<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="database" value="dev"/>
  </appSettings>
  <connectionStrings>
    <add name="dev" connectionString="Server=localhost;Database=eForm;Trusted_Connection=True;"/>
	<add name="prod" connectionString="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
  </connectionStrings>
</configuration>
