<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		
		<authentication mode="Forms">
			<forms timeout="50"/>
		</authentication>
		
		<sessionState timeout="60"  />
		<customErrors mode="Off"/>
	</system.web>
	<appSettings>
		<add key="database" value="prod"/>
		<add key="repositoryFactory" value="HW.EForm2.Core.Respositories, SqlRepositoryFactory"/>
	</appSettings>
	<connectionStrings>
		<add name="dev" connectionString="Server=localhost;Database=eForm;Trusted_Connection=True;"/>
		<add name="prod" connectionString="database=eform;server=10.0.0.2,1433;user=hwdev;pwd=hwdev;"/>
	</connectionStrings>
</configuration>
