body{background: none repeat scroll 0 0 transparent;

    color: #323232;

    font: 12px/1.6 Arial,Helvetica,sans-serif !important;

    margin-left: 0 !important;

    margin-right: 0 !important;
				


}

a{
	color: #3882AE;
	text-decoration: none;
}





h4 a{text-decoration:underline;}



h1, h2, h3, h4, h5, h6 { font-family: arial,verdana,sans-serif;	}

h1,h3{color: #3882AE; margin:0; padding:0;}

h2{ color: #999999;    font-size: 14px; margin:0; padding:0} 

h5 {color:#D40963; font-size:1em;}



h1,h2{line-height:normal; margin:0 0 0 18px;}

h1{font-size:22px;}

#middle{background-color:#F7F7F7; border:1px solid #f3f3f3; padding:12px; float:left;}

#menu_bg_link{background-color:#F7F7F7; border:1px solid #f3f3f3; padding:12px;}



#title{ background-color:#ffffff; padding:10px; font-size:20px; font-weight:bold; margin-bottom:30px;}



#right_page{float:left; width:960px; padding:10px 4px;}

.block{background-color:#ffffff; padding:2px 20px;; margin:12px 0;}



#ppQuestion{border-bottom:1px #000 solid; padding-bottom:14px; margin-top:40px;} 

#ppQuestion textarea, .ppQuestion textarea{width:440px; height:96px;}

.ppQuestion{ margin-top:14px; padding-bottom:14px;}



#page{ width:800px; margin:0 auto; padding:0; }

#header{padding:10px 0px 20px;}

#submenu{background:url("../images/submenu.jpg"); font-family:arial,helvetica,arial,sans-serif; font-size:15px; height:40px; line-height:40px; padding:0 10px; -moz-border-radius:4px; border-radius:4px; }

#submenu a {color:#f1f1f1; float:left; margin:auto 12px; }

#submenu a:hover {color:#FFFFFF; text-decoration:underline; }



.tbl{width:100%;}

.tbl .hdr td{font-weight:bold; font-style:normal;}

.tbl td{
	padding:5px 2px;
	vertical-align:top;
	font-style:italic;
	background-color:#FFF;
	text-align: center;
}

.tbl input{ width:170px;}





h1.headline{ color:#3882AE; font-family:arial,verdana,sans-serif; font-size:22px; line-height:28px; }
.headline{ color:#3882AE; font-weight:bold; font-size:15px;}

h1.headline1{ color:#666666; font-family:Georgia, serif; font-size:20px; line-height:24px; font-weight:normal;}



.block{background-color:#ffffff; padding:2px 20px; margin:12px 0; color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:16px;}

.block h2{color:#666; margin:0;}



.btn{background:#888888; font-size:13px; cursor:pointer; padding:5px 12px; font-weight:bold; border:0px; color:#fff;}

li{margin-top:6px;}



.bub_div{float:left; width:330px;}

.bub_head{ width:300px; text-align:center; font-weight:bold; margin-top:16px;}

.speech_bubble{background:url("../images/speech-bubble.png") no-repeat; width:260px; height:190px; margin:10px 20px 0; float:left;}



._li{text-align:left;}

._li div{ text-align:center; width:100%;}



.text_roda{border:0; color:#ffffff; min-height:26px; width:396px; text-align:center; line-height:26px; margin:3px; padding:2px; background:url("../images/text_bg.png") no-repeat center; }


#medarbetares .text_roda{width:140px; height:150px; line-height:21px; padding:10px; resize:none; background:url("../images/text_bg1.png") no-repeat center; border:0; font:14px Arial, Helvetica, sans-serif; overflow-y: auto;
}




.menu_head, .menu_head2, .menu_head3, ._head, .head1{ cursor:pointer;} 

#gallery li, #gallery2 li, #trash li, #trash2 li, #trash3 li, #trash4 li{cursor:move;}



#menu_link{width:1000px;}


#menu_link{float:left; width:1000px;}

#menu_link ul, #menu_link li{margin:0; padding:0; margin-left:30px;}


.menu_link li{ list-style:circle;}

#menu_link .menu1 ul{margin-left:20px;}

#menu_link *{color:#666;}


#page{width:1000px;}

#left_menu{float:left; width:300px;}

#left_menu ul, #left_menu li{margin:0; padding:0; list-style:none;}

#left_menu .menu1 ul{margin-left:12px;}

#left_menu *{color:#666;}

.menu1 li{ font-size:16px; font-weight:bold;}
.menu .menu2 li, .menu2 li a{ font-size:12px; font-weight:normal;display:block;}

.menu2>li, .menu2>li>a{ font-weight:bold; }

.menu2 li a:hover{ color:#333 !important; background-color:#fafafa;}



.intressent{float:left; width:220px; margin-top:4px;}

.clear{clear:both;}

form{margin:0; padding:4px 0;}



.Spanskiva{margin:0; padding:0; margin-left:20px}

.Spanskiva li{ margin:10px 0; padding:0;}



.monitorer{margin:0; padding:0; margin-left:10px; list-style:none;}

.monitorer li{margin-top:10px;}

.monitorer input[type=checkbox]{margin-right:14px;}


.font_style{
font:12px Arial, Helvetica, sans-serif;
}
