<?xml version="1.0"?>
<configuration>
	<system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE /unsafe+"/>
			</compilers>
	</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<appSettings>
		<add key="SqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="eFormSqlConnection" value="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="newsSqlConnection" value="database=healthwatchnews;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="pqlSqlConnection" value="Persist Security Info=False; User ID=pql; Password=pql; Initial Catalog=pql; Server=.;"/>
		<add key="SmtpServer" value="217.13.227.253"/>
		<add key="eFormURL" value="https://secure.eform.se"/>
		<add key="hwURL" value="https://www.healthwatch.se"/>
	</appSettings>
	<!--<appSettings>
		<add key="SqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="eFormSqlConnection" value="Server=.;Database=eForm;Trusted_Connection=True;"/>
		<add key="newsSqlConnection" value="Server=.;Database=healthWatchNews;Trusted_Connection=True;"/>
		<add key="pqlSqlConnection" value="Persist Security Info=False; User ID=pql; Password=pql; Initial Catalog=pql; Server=.;"/>
		<add key="SmtpServer" value="127.0.0.1"/>
		<add key="eFormURL" value="http://localhost/eform"/>
		<add key="hwURL" value="http://localhost/hw"/>
	</appSettings>-->

	<!--Backup appSettings-->
	<!--<appSettings>
		<add key="SqlConnection" value="Persist Security Info=False; User ID=HW; Password=HW; Initial Catalog=HW; Server=.\SQLEXPRESS;"/>
		<add key="eFormSqlConnection" value="Persist Security Info=False; User ID=eForm; Password=eForm; Initial Catalog=eForm; Server=.\SQLEXPRESS;"/>
		<add key="newsSqlConnection" value="Persist Security Info=False; User ID=healthWatchNews; Password=healthWatchNews; Initial Catalog=healthWatchNews; Server=.\SQLEXPRESS;"/>
		<add key="pqlSqlConnection" value="Persist Security Info=False; User ID=pql; Password=pql; Initial Catalog=pql; Server=.;"/>
		<add key="SmtpServer" value="217.13.227.253"/>
		<add key="eFormURL" value="https://secure.eform.se"/>
		<add key="hwURL" value="https://www.healthwatch.se"/>
	</appSettings>-->
</configuration>
