<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
    <log4net>
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
            <file value="log.txt" />
            <appendToFile value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level %logger [%ndc] - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="LogFileAppender" />
        </root>
        <logger name="NHibernate">
            <level value="ERROR" />
        </logger>
        <logger name="NHibernate.Loader.Loader">
            <level value="ERROR" />
        </logger>
    </log4net>
	<system.web>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE /unsafe+"/>
			</compilers>
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="30"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/>
		<pages theme="Grp" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<httpRuntime enableVersionHeader="false" requestValidationMode="2.0" />
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="X-FRAME-OPTIONS" value="deny" />
				<add name="X-CONTENT-TYPE-OPTIONS" value="nosniff" />
				<add name="X-ROBOTS-TAG" value="none" />
				<add name="X-XSS-PROTECTION" value="1; mode=block" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<connectionStrings>
		<add name="eForm" connectionString="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add name="healthWatch" connectionString="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
	</connectionStrings>
	<appSettings>
		<add key="RepositoryFactory" value="SQL"/>
		<add key="SqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="healthWatchSqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="eFormSqlConnection" value="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="SmtpServer" value="smtp.serverload.net"/>
		<add key="eFormURL" value="http://localhost/eform/"/>
		<add key="healthWatchURL" value="http://test.healthwatch.se/"/>
	</appSettings>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="query.substitutions">true=1;false=0</property>
			<property name="show_sql">true</property>
			<mapping assembly="HW.Core" />
		</session-factory>
	</hibernate-configuration>
	<!--<connectionStrings>
		<add name="eForm" connectionString="Server=.;Database=eform;Trusted_Connection=True;"/>
		<add name="healthWatch" connectionString="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="RepositoryFactory" value="SQL"/>
		<add key="SqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="healthWatchSqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="eFormSqlConnection" value="Server=.;Database=eform;Trusted_Connection=True;"/>
		<add key="SmtpServer" value="127.1.2.7"/>
		<add key="eFormURL" value="http://localhost/eform/"/>
		<add key="healthWatchURL" value="http://localhost/hw/"/>
	</appSettings>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="query.substitutions">true=1;false=0</property>
			<property name="show_sql">true</property>
			<mapping assembly="HW.Core" />
		</session-factory>
	</hibernate-configuration>-->
</configuration>
