<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <compilers>
        <compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE /unsafe+"/>
      </compilers>
    </compilation>
    <customErrors mode="Off"/>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="30"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
    <!--<pages theme="Grp" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
    <httpRuntime enableVersionHeader="false" requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-FRAME-OPTIONS" value="deny" />
        <add name="X-CONTENT-TYPE-OPTIONS" value="nosniff" />
        <add name="X-ROBOTS-TAG" value="none" />
        <add name="X-XSS-PROTECTION" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <!-- Connection Strings and App Settings for Development -->
  <!--<connectionStrings>
		<add name="eForm" connectionString="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add name="healthWatch" connectionString="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
    <add name="SqlConnection" connectionString="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
	</connectionStrings>
	<appSettings>
		<add key="RepositoryFactory" value="SQL"/>
		<add key="SqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="healthWatchSqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="eFormSqlConnection" value="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		
		<add key="SmtpServer" value="smtp25.elasticemail.com"/>
		<add key="SmtpUsername" value="jens@healthwatch.se"/>
		<add key="SmtpPassword" value="c76e7e1a-e9da-48dd-92f2-14e752742ea0"/>
		<add key="SmtpSSL" value="true"/>
		<add key="BackupSmtpServer" value="smtp.serverload.net"/>

		<add key="eFormURL" value="http://test.eform.se/"/>
		<add key="healthWatchURL" value="http://test.healthwatch.se/"/>
    <add key="LinkUrl" value="http://test.healthwatch.se/"/>
		<add key="grpURL" value="http://dev-grp.healthwatch.se/"/>
		
		<add key="GcmAPIKey" value="AIzaSyB3ne08mvULbQX8HalX-qRGQtP1Ih9bqDY"/>
		<add key="GcmSenderId" value="59929247886"/>
		<add key="GcmMessage" value="Login Reminder"/>
	</appSettings>-->

  <!-- Connection Strings and App Settings for Local Development -->
  <connectionStrings>
    <add name="eForm" connectionString="Server=.;Database=eform;Trusted_Connection=True;"/>
    <add name="healthWatch" connectionString="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
    <add name="SqlConnection" connectionString="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="RepositoryFactory" value="SQL"/>
    <add key="SqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
    <add key="healthWatchSqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
    <add key="eFormSqlConnection" value="Server=.;Database=eform;Trusted_Connection=True;"/>

    <add key="SmtpServer" value="some_invalid_link"/>
    <add key="SmtpUsername" value="test@localhost.com"/>
    <add key="SmtpPassword" value="password"/>
    <add key="SmtpSSL" value="true"/>
    <add key="BackupSmtpServer" value="127.0.0.1"/>

    <add key="eFormURL" value="http://localhost/eform/"/>
    <add key="healthWatchURL" value="http://test.healthwatch.se/"/>
    <add key="LinkUrl" value="http://test.healthwatch.se/"/>
    <add key="grpURL" value="http://localhost:25555/"/>

    <add key="GcmAPIKey" value="AIzaSyB3ne08mvULbQX8HalX-qRGQtP1Ih9bqDY"/>
    <add key="GcmSenderId" value="59929247886"/>
    <add key="GcmMessage" value="Login Reminder"/>
  </appSettings>
</configuration>
