<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   <system.web>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE /unsafe+"/>
			</compilers>
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<appSettings>
		<!--<add key="RepositoryFactory" value="SQL"/>
		<add key="SqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="healthWatchSqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="eFormSqlConnection" value="Server=.;Database=eform;Trusted_Connection=True;"/>
		<add key="SmtpServer" value="127.1.2.7"/>
		<add key="eFormURL" value="http://localhost/eform"/>
		<add key="healthWatchURL" value="http://localhost/hw"/>-->
		<add key="RepositoryFactory" value="SQL"/>
		<add key="SqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="healthWatchSqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="eFormSqlConnection" value="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="SmtpServer" value="127.1.2.7"/>
		<add key="eFormURL" value="http://localhost/eform"/>
		<add key="healthWatchURL" value="http://localhost/hw"/>
	</appSettings>
</configuration>
