extends includes/layout
block content
  h2 Tidsåtgång: 10-20 minuter, både individ- och gruppövning
  p
    | Den här övningen är till för att hjälpa dig att reflektera över vad som kan skydda och stärka dig i livet i allmänhet och under en förändringsprocess i synnerhet. En sådan reflektion hjälper dig att hitta skyddsfaktorer och ökar sannolikheten
    | att du använder dig av dem. Under turbulenta omständigheter är det särskilt viktigt att prioritera återhämtning. Nedan följer några enkla frågor som kan hjälpa dig att göra det som är återhämtande för dig.
  ul
    li Vad är återhämtande för dig? Skriv ner exempel på situationer då du vet att du återhämtar dig. Till exempel: ”När jag lyssnar på bra musik.” ”När jag är uppslukad av en arbetsuppgift.” ”När jag är i naturen.” ”När jag umgås med en god vän.”
    li Fundera över hur du kan genomföra detta oftare i vardagen. Finns det någonting du kan göra just nu – gör det. Boka också in några aktiviteter (förslagsvis 1-3 stycken) i kalendern. Då ökar sannolikheten att de blir genomförda.
    li Tänk igenom dina aktiviteter. Finns det några utmaningar eller hinder som försvårar för dig att genomföra dem i vardagen? Konkretisera i sådana fall vad du kan göra för att undanröja dessa hinder?
  h2 Om du vill genomföra detta som en gruppövning
  p Diskutera dessa frågor i grupper om 2-4 personer under 10 minuter. Presentera 2-5 förslag per grupp inför de andra. Kom i storgrupp överens om vad ni kan göra för att integrera återhämtning på ett naturligt sätt i vardagen.
