extends includes/layout
block content
  h2 Duration: 5 minutes + meeting time
  p There is scientific evidence that they make better decisions if more people, independently, may express itself in a question. The rationale is more nuanced, and you can encourage each other to better ideas. It also increases the commitment and participation of the employees.
  p Here is a guide that can contribute to greater involvement in the meetings. It is especially good when you want to get employees' input on an issue.
  h2 For the meeting:
  ul
    li Request suggestions on meeting points of the employees; set deadline.
    li Ensure that you have enough time for the issues you want to discuss.
    li
      | Send out the issues for the meeting so that everyone has time to think them through.
    li Divide the meeting points of information, discussion or decision questions.
  h2 During the meeting:
  ul
    li Divide participants into small groups (3-4 per group) to discuss the issue. It allows everyone the chance to think and express themselves. Make the division so that the more taciturn must sit together and have the opportunity to say something.
    li Join the team around to each small group and every employee should be able to express what they think and feel.
    li Choose carefully which group you give the floor to the first. The group starts report will set the tone for the rest.
    li Summarize the continuously put forward and agree that you have understood the descriptions right.
    li Thanks for the comments. It is easy to make the good proposals, but it also the comments that you disagree with. Avoid aggressive counter-questions, or to defend yourself; better to ask kindly worded questions to get more information.
    li Dare to be quiet. It provides space for others to talk. For example, avoid making your own lengthy discussion immediately after someone has said something, it can easily be perceived as a rebuke.
    li Summarize the findings and how to proceed.
  h2 After the meeting,
  ul
    li Follow the progress of the things you agreed. Reconnect status even on issues not yet resolved.
