extends includes/layout
block script
  script(src='assets/exercises/js/finsliparen.js')
block content
  script.
    var components = [
      { valueText: 'Listen to a couple of your employees talking about how to solve a problem.' },
      { valueText: 'Watch as an employee leading a meeting.' },
      { valueText: 'Say: You have probably seen that we have new procedures for how we report absences?' },
      { valueText: 'Go out and look at a wall on a building site after the person who worked on it goes from there.' },
      { valueText: 'Ask one of our employees in a major project: "Will we make it in time?"' },
      { valueText: 'Question: "Did you send away the material that we talked about?"' },
      { valueText: 'Talk to employees about what they did over the weekend?' },
      { valueText: 'Question: Why have not submitted the report on time?' },
      { valueText: 'Question: "Did Donald through the project plan with you today?"' },
      { valueText: "Reading through an employee's report before it is completed." },
      { valueText: 'Say, "Here we go hard today, right !?"' },
      { valueText: 'Say: This report should not exceed three pages and contain at least 2 characters.' },
    ];
    var newExercise = {
      inputs: [
        { components: components },
        { components: [] },
        { components: [] },
        { components: [] },
        { components: [] },
        { components: [] },
        { components: components },
      ]
    };
  h2 Time required: 20 minutes
  #message.alert.alert-success.hidden
  #first-question
    p A good way to motivate their employees to monitor. Managers who monitors have satisfied employees and groups that work more efficiently. Monitoring involves collecting information about how employees are performing their tasks and how this affects the results. The interesting thing is that only by monitoring employees become more motivated. One reason for this is that it allows for a more informed, effective and empathetic conversation with employees. Now you'll get to practice monitoring. Select the situations you consider to be monitoring.
    ul.inputs.input0
    p
      a#btn-clear1.ui-button.ui-widget.ui-corner-all Clear
      a#btn-start.ui-button.ui-widget.ui-corner-all Start over
      a#btn-continue.ui-button.ui-widget.ui-corner-all Continue
  #second-question.hidden
    p By monitoring, you create the conditions for effective and informed conversation about employees' work. It makes your feedback more relevant, giving you a better basis for making strategic decisions and solve problems. It also increases your credibility in the eyes of the employees. There are several ways to do this.
    p Below is the same example you looked at just now. Now is your task to categorize the type of monitoring is concerned. Select the category that best describes the situation. Drag the points to each category in the table
    table(width="100%", border="1", cellpadding="5")
      tr
        td Take sample from a person's work
        td Observe a person at work	
        td Let a person talk about their results	
        td Ask a third person about someone's performance	
        td Not an example of monitoring
      tr
        td(valign="top", style="width:20%")
          #trash1.trash.input1.ui-helper-reset(style="min-height:100px")
        td(valign="top", style="width:20%")
          #trash2.trash.input2.ui-helper-reset(style="min-height:100px")
        td(valign="top", style="width:20%")
          #trash3.trash.input3.ui-helper-reset(style="min-height:100px")
        td(valign="top", style="width:20%")
          #trash4.trash.input4.ui-helper-reset(style="min-height:100px")
        td(valign="top", style="width:20%")
          #trash5.trash.input5.ui-helper-reset(style="min-height:100px")
    p
    ul#gallery.input6.ui-helper-reset(style="min-height:100px")
    p
      a#btn-clear2.ui-button.ui-widget.ui-corner-all Clear
      a#btn-notify.ui-button.ui-widget.ui-corner-all Notify
    #body1.hidden
      p There are four different methods to find out how employees are performing their duties.
      p
        | Take sample from a person's work 
        br
        i
          | studying something that the person has worked with, such as a report, an email, a trowelled wall, a timetable, and so on.
      p
        | Observe a person in his work 
        br
        i
          | Watch or listen when the person performs some of his work, such as leading a meeting, talking to a customer, putting on putty, help a colleague, etc.
      p
        | Let a person talk about their results 
        br
        i
          | Ask questions about what the person did to achieve something and listen to the answer, such as how she proceeded to plan and implement a training program, the way she did to help a colleague, etc.
      p Ask a third person about someone's performance 
        br
        i
          | Asking questions to someone else about what the person did to achieve something and listen to the answer, such as how a colleague understood that the person did to deal with an awkward customer, and so on.
      p All of these methods is therefore good to use but the sampling and observation are those that are most effective in influencing employee engagement.
      p You monitors to highlight the link between a person's actions and the results. By monitors behaviors rather than results, focus on factors such as the employee can control which increases efficiency.
  p
    a#btn-save.ui-button.ui-widget.ui-corner-all Save
