extends includes/layout
block content
  #message.alert.alert-success.hidden
  h2 Tidsåtgång: 2 minuter
  p
    | Som chef har du möjlighet att påverka hur väl verksamheten fungerar genom att öka medarbetarnas förtroende och tillit till dig som chef. A och O är att det du säger och det du gör hänger samman. Medarbetarnas förtroende för dig bygger alltså på
    | hur du agerar. Om du t ex säger: ”Jag ska kolla upp det”, innebär det också att du faktiskt behöver kolla upp det – och återkomma i frågan. Om du säger: ”Nu prioriterar vi denna arbetsuppgift”, innebär det att du inte ger andra, motstridiga
    | instruktioner eller kommentarer som t ex: ”Varför har du inte gjort den här andra uppgiften”.
  p
    | Tillitsskapande är också att stå för sina misstag. Att säga ”Jag hade fel” eller ”Jag borde ha agerat annorlunda”, är alltså förtroendeskapande. Likaså att stå för att det finns problem och konflikter, när sådana finns. Lätt men svårt, alltså,
    | att skapa förtroende!
  p
    | Hur tycker du att du själv agerar i förhållande till dessa råd? Finns det något som du ägnar dig åt, kanske utan att tänka på det, som kan bidra till att du skadar andras förtroende för dig? Vilka av beteendena ovan vill du i sådana fall vidareutveckla?
