doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title
    style.
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .revise {
        color: blue;
      }
      .done {
        color: green;
      }
      .in-progress {
        color: orange;
      }
      .not-started {
        color: red;
      }
  body
    ul
      li Arbetsglädje och effektivitet
        ul
          li
            a.not-started(href='index.html') Fira framgång effektivt
            | &nbsp;/&nbsp;
            a.not-started(href='index-en.html') Celebrating success effectively
          li Utveckla medarbetarna
            ul
              li
                a.not-started(href='roda_traden.html') Röda tråden
                | &nbsp;/&nbsp;
                a.not-started(href='roda_traden-en.html') Red thread
              li
                a.done(href='medarbetarna_intro.html') Introduktion till att utveckla medarbetarna  
                | &nbsp;/&nbsp;
                a.done(href='medarbetarna_intro-en.html') Introduction to developing employees
              li
                a.done(href='Utbildningsmaximeraren.html') Utbildningsmaximeraren
                | &nbsp;/&nbsp;
                a.done(href='Utbildningsmaximeraren-en.html') Education Maximizer
          li Förtroendeskapande ledarskap
            ul
              li
                a.not-started(href='rakryggat.html') Att agera rakryggat
                | &nbsp;/&nbsp;
                a.not-started(href='rakryggat-en.html') Acting stand tall
              li
                a.in-progress(href='bygga_fortroende.html') Att bygga förtroende och tillit
                | &nbsp;/&nbsp;
                a.in-progress(href='bygga_fortroende-en.html') Building trust and confidence
              li
                a.done(href='fortroende.html') Förtroende
                | &nbsp;/&nbsp;
                a.done(href='fortroende-en.html') Confidence
          li Fira framgång
            ul
              li
                a.done(href='framgansgfiraren.html') Framgångsfiraren
                | &nbsp;/&nbsp;
                a.done(href='framgansgfiraren-en.html') Celebrating success
              li
                a.done(href='skraddarsytt.html') Skräddarsytt firande
                | &nbsp;/&nbsp;
                a.done(href='skraddarsytt-en.html') Tailored celebration
              li
                a.not-started(href='fira_lista.html') Vad ska vi fira
                | &nbsp;/&nbsp;
                a.not-started(href='fira_lista-en.html') What are we celebrating
          li Öppet klimat
            ul
              li
                a.done(href='engagerande.html') Engagerande möten
                | &nbsp;/&nbsp;
                a.done(href='engagerande-en.html') Engaging meetings
              li
                a.not-started(href='konstruktiv_feedback.html') Från gnäll till konstruktiv feedback
                | &nbsp;/&nbsp;
                a.not-started(href='konstruktiv_feedback-en.html') From whining to constructive feedback
              li
                a.in-progress(href='kommunikationspusslet.html') Rätt sagt i rätt situation
                | &nbsp;/&nbsp;
                a.done(href='kommunikationspusslet-en.html') The right to say in the right situation
              li
                a.done(href='takhojaren.html') Takhöjaren
                | &nbsp;/&nbsp;
                a.done(href='takhojaren-en.html') Takhöjaren
          li Mål & Visioner
            ul
              li
                a.in-progress(href='hissovningen.html') Hissövningen
                | &nbsp;/&nbsp;
                a.done(href='hissovningen-en.html') Elevator Exercise
              li
                a.done(href='inspirerande_malet.html') Prata inspirerande om målet
                | &nbsp;/&nbsp;
                a.done(href='inspirerande_malet-en.html') Talk about inspiring goal
              li
                a.in-progress(href='spanskiva.html') Spånskiva
                | &nbsp;/&nbsp;
                a.done(href='spanskiva-en.html') Particleboard
          li Monitorering
            ul
              li
                a.not-started(href='finsliparen.html') Finsliparen
                | &nbsp;/&nbsp;
                a.not-started(href='finsliparen-en.html') Finsliparen
              li
                a.in-progress(href='monitorera.html') Monitorera i vardagen
                | &nbsp;/&nbsp;
                a.in-progress(href='monitorera-en.html') Monitor in everyday life
              li
                a.done(href='motivera_medarbetare.html') Monitorering
                | &nbsp;/&nbsp;
                a.done(href='motivera_medarbetare-en.html') Monitoring
          li Feedback
            ul
              li
                a.in-progress(href='budskapssorteraren.html') Budskapssorteraren
                | &nbsp;/&nbsp;
                a.done(href='budskapssorteraren-en.html') Message Organizer
              li
                a.done(href='feedback.html') Preciserad feedback
                | &nbsp;/&nbsp;
                a.done(href='feedback-en.html') Revised feedback
              li
                a.done(href='feedback_quiz.html') Feedback Quiz
                | &nbsp;/&nbsp;
                a.done(href='feedback_quiz-en.html') Feedback Quiz
      li Arbetsotrygghet
        ul
          li
            a.done(href='aterhamtningsformaga.html') Styrketåren
            | &nbsp;/&nbsp;
            a.done(href='aterhamtningsformaga-en.html') Styrketåren
          li
            a.done(href='forankring.html') Förankring i samband med organisationsförändring
            | &nbsp;/&nbsp;
            a.done(href='forankring-en.html') Anchoring in connection with organizational changes
          li
            a.done(href='familjen.html') Familjen
            | &nbsp;/&nbsp;
            a.done(href='familjen-en.html') The family
      li Förbättringsarbete
      li Krishantering
      li Rekrytering
        ul
          li
            a.not-started(href='mall_for_referenstagande.docx', target='_blank') Mall för referenstagande
      li Stress-utbrändhet Arbetsåtergång
        ul
          li
            a.not-started(href='stressrelaterad.html') Introduktion till stressrelaterad ohälsa
            | &nbsp;/&nbsp;
            a.not-started(href='stressrelaterad-en.html') Introduction to stress-related illness
      li Strukturerad problemlösning
