extends includes/layout
block content
  #message.alert.alert-success.hidden
  h2 Tidsåtgång: 30 minuter – 1 timme
  p
    | Den här övningen genomförs tillsammans med dina medarbetare. Genom att göra medarbetarna delaktiga i vision och mål ökar deras engagemang. Nedan följer en steg-för-steg-beskrivning av hur du kan genomföra en brainstorming-övning i din grupp.
  p
    | Steg för steg:
    ol.Spanskiva
      li
        | Börja med att skapa en lekfull stämning. Det kan ni till exempel göra genom att använda videon som presenteras i denna trailer:
        p
          object(width='600', height='478')
            param(value='http://www.youtube.com/v/gNDP9jLuzXU?version=3&hl=en_US&rel=0', name='movie')
            param(name='allowFullScreen', value='true')
            param(name='allowscriptaccess', value='always')
            embed(src='http://www.youtube.com/v/gNDP9jLuzXU?version=3&hl=en_US&rel=0', type='application/x-shockwave-flash', width='600', height='478', allowscriptaccess='always', allowfullscreen='true')
      li
        | Spåna värdeladdade ord eller fraser som beskriver er verksamhet. Jobba individuellt under tystnad. Skriv ned dem på post-it lappar. Fortsätt tills ingen skriver längre. Skriv ner allt ni kommer på utan att censurera er och kommentera inte
        | andras lappar. Tänk hellre många lappar än bra lappar.
      li
        | Sätt upp post-itlapparna på väggen och ta ett steg tillbaka så att ni får överblick. Reflektera en stund tillsammans när ni ser orden/Fraserna. Vad säger det här om er verksamhet?
      li
        | Formulera en vision i en fras som sammanfattar andemeningen i det som står på post-it-lapparna. Frasen ska övergripande beskriva riktningen, vad ni ska uppnå med er verksamhet. Ni behöver inte följa dem slaviskt, utan låt er inspireras
        | av dem.
      li
        | När ni har ett förslag till mening – ta ett steg tillbaka igen. Känns den inspirerande? Är det något ni vill jobba mot? Revidera tills alla är nöjda.
      li
        | Nu vet ni i vilken riktning ni är på väg. Dags att ta ut målet. Målet ska beskriva vilket resultat ni ska uppnå. Var noggrann med att målet/resultatet är i linje med ert uppdrag och företagets mål. Målet bör vara så konkret att det kan
        | mätas.
      li Utvärdera om ert mål är mätbart och motiverande.
