extends includes/layout
block content
  #message.alert.alert-success.hidden
  h2 Duration: 30 minutes - 1 hour
  p
    | This exercise is carried out together with your employees. By making the employees involved in the vision and goals and increase engagement. Below is a step-by-step description of how to conduct a brainstorming exercise in your group.
  p
    | Gradually:
    ol.Spanskiva
      li
        | Start by creating a playful mood. That you can do, for example by using the video presented in this trailer:
        p
          object(width='600', height='478')
            param(value='http://www.youtube.com/v/gNDP9jLuzXU?version=3&hl=en_US&rel=0', name='movie')
            param(name='allowFullScreen', value='true')
            param(name='allowscriptaccess', value='always')
            embed(src='http://www.youtube.com/v/gNDP9jLuzXU?version=3&hl=en_US&rel=0', type='application/x-shockwave-flash', width='600', height='478', allowscriptaccess='always', allowfullscreen='true')
      li
        | Brainstorm loaded words or phrases that describe your business. Working individually in silence. Write them down on post-it notes. Continue until no longer writes. Write down everything you are going on without censoring you, and can not
        | comment on other people's pieces. Think rather many pieces than good pieces.
      li
        | Put up post-itlapparna on the wall and take a step back so that you can view. Reflect a moment together when you see the words / phrases. What does this on your operations?
      li
        | Formulate a vision of a phrase that sums up the spirit of what is written on post-it notes. The phrase should describe the overall direction, what you should accomplish with your business. You do not follow them slavishly, but be inspired
        | by them.
      li
        | When you have a draft opinion - take a step back. Feels it inspiring? Is there anything you would like to work towards? Revise until everyone is satisfied.
      li
        | Now you know which direction you are heading. Time to take out the target. The goal should describe what results you will achieve. Be careful that the goal / outcome is in line with your mission and corporate goals. The aim should be so
        | specific that it can be measured.
      li Evaluate if your goal is measurable and motivating.
