.sort {
    background-repeat:no-repeat;
    padding-left:16px;
}
.sort-asc {
    background-image:url(../img/bullet_arrow_down.png);
}
.sort-desc {
    background-image:url(../img/bullet_arrow_up.png);
}