<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE /unsafe+"/>
			</compilers>
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
	</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<appSettings>
    <add key="SqlConnection" value="User Id=test; Password=test; Initial Catalog=healthWatch; Data Source=127.0.0.1,1433; Network Library=DBMSSOCN;"/>
    <add key="eFormSqlConnection" value="User Id=test; Password=test; Initial Catalog=eForm; Data Source=127.0.0.1,1433; Network Library=DBMSSOCN;"/>
    <add key="newsSqlConnection" value="User Id=test; Password=test; Initial Catalog=healthWatchNews; Data Source=127.0.0.1,1433; Network Library=DBMSSOCN;"/>
    <add key="SmtpServer" value="127.127.127.127"/>
  </appSettings>
	<!--<appSettings>
		<add key="SqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="eFormSqlConnection" value="Server=.;Database=eForm;Trusted_Connection=True;"/>
		<add key="newsSqlConnection" value="Server=.;Database=healthWatchNews;Trusted_Connection=True;"/>
		<add key="SmtpServer" value="127.0.0.1"/>
	</appSettings>-->
</configuration>
