@media print 
{ 
    #admin .headergroup
    {
        display:none;
    }
    #admin #contextbar
    {
        display:none;
    }
	.noprint { display:none; } 
	.noscreen { display:; } 
}
@media screen 
{ 
	.noprint { display:; } 
	.noscreen { display:none; }
}
#admin {
	font-family: arial, sans-serif;
}
#admin .grid_16 {
	padding-right: 0;
}
#admin .headergroup .p2 {
	line-height: 1.1em;
}
#admin .logincontainer {
	background: none;
	font-size: 15px;
	padding-top: 12px;
}
#admin .logincontainer .gears {
	background: url('resources/admin/gears.gif') no-repeat;
	float: right;
	height: 64px;
	padding: 15px 0 0 134px;
	margin-right: 30px;
}
#admin .headergroup #submenu {
	background: #cccccc;	
	height: 40px;
	padding-left: 0;
	margin-bottom: 40px;
	margin-top: 10px;
}
#admin #submenu a {
	margin-top: 0;
	height: 40px;
	padding: 0 23px;
	margin: 0;
	margin-right: 1px;
	line-height: 40px;
	background: url('resources/admin/submenu.gif') center 0;
	
	font-size: 18px;
}
#admin #submenu a:hover {
	background: url('resources/admin/submenu.gif') center -40px;
	text-decoration: none;
}
#admin #submenu a.active {
	color: #fff;
	background: url('resources/admin/submenu.gif') center -120px;
}
#admin #submenu .active:hover {
	background: url('resources/admin/submenu.gif') center -120px;
}
#admin #submenu .description {
	width: 100%;
	float: left;
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
}
#admin .contentgroup {
	margin-top: 35px;
}
#admin #contextbar {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
#admin #contextbar div {
	padding-left: 20px;
}
#admin #contextbar input {
	font-size: 15px;
	margin-top: -2px;
}
#admin #contextbar .top {
	border-top: 1px solid #b0e1f3;
	background: #e3f4fb;
	margin-bottom: 2px;
	height: 70px;
	line-height: 70px;
	font-size: 18px;
}
#admin #contextbar .top .search {
	background: url('resources/admin/search.png') left center no-repeat;
	padding-left: 39px;
}
#admin #contextbar .top input {
	margin: 0 0 0 7px;
}
#admin #contextbar .bottom {
	background: #cdecf7;
	height: 41px;
	line-height: 41px;
	font-size: 15px;
}
#admin #contextbar .bottom a {
	color: #4d4d4d;
	margin-right: 26px;
	background: url('resources/admin/organization_sprites.png') no-repeat left 1px;
	padding-left: 21px;
	height: 16px;
	letter-spacing: 1px;
}
#admin #contextbar .bottom .add-unit {
	background: url('resources/admin/organization_sprites.png') no-repeat left 1px;
}
#admin #contextbar .bottom .import-unit {
	background: url('resources/admin/organization_sprites.png') no-repeat left -16px;
}
#admin #contextbar .bottom .add-user {
	background: url('resources/admin/organization_sprites.png') no-repeat left -33px;
}
#admin #contextbar .bottom .import-users {
	background: url('resources/admin/organization_sprites.png') no-repeat left -52px;
}
#admin #contextbar .inpt {
    width:350px;
}
#admin #contextbar .maxInpt {
    max-width:750px;
}
#admin #contextbar .desc {
    display:block;
    float:left;
    /*width:120px;*/
    width:100px;
}
#admin #contextbar .descLong {
    display:block;
    float:left;
    width:150px;
}
#admin #contextbar .btn {
    margin:5px 14px 0px 0px;
}
#admin #contextbar .actionBlock {
    margin-bottom: 10px;
    padding-top: 10px;
	margin-top: 2px;
	font-size: 15px;
}
#admin #contextbar .actionPane {
	background: #e3f4fb;
	border-bottom: 1px solid #97D2EB;
}
#admin #contextbar .actionPane2 {
	background: #cdecf7;
	border-bottom: 1px solid #97D2EB;
	border-top: 1px solid #97D2EB;
}
#admin #contextbar .settingsPane {
	border-top: 1px solid #b0e1f3;
	border-bottom: 1px solid #97D2EB;
	background: #e3f4fb;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
	margin-top: 2px;
	font-size: 15px;
}
#admin .smallContent {
	font-size: 12px;
}
.i18n {
    background: url(../img/rsaquo.gif) no-repeat 0 4px;
    padding-left: 7px;
}