<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE /unsafe+"/>
			</compilers>
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<appSettings>
		<!--<add key="SqlConnection" value="Persist Security Info=False; User ID=sa; Password=start123; Initial Catalog=healthwatch; Server=.\SQLEXPRESS;"/>
		<add key="healthWatchSqlConnection" value="Persist Security Info=False; User ID=sa; Password=start123; Initial Catalog=healthwatch; Server=.\SQLEXPRESS;"/>
		<add key="eFormSqlConnection" value="Persist Security Info=False; User ID=sa; Password=start123; Initial Catalog=eform; Server=.\SQLEXPRESS;"/>-->
		<add key="SqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="healthWatchSqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="eFormSqlConnection" value="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="SmtpServer" value="127.1.2.7"/>
		<add key="eFormURL" value="http://localhost/eform"/>
		<add key="healthWatchURL" value="http://localhost/hw"/>
	</appSettings>
</configuration>