/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html,body,div,h1,h2,h3,h4,h5,h6,p,code,em,img,b,i,ol,ul,form,table,tr,td,footer,header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

footer,header {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* tables still need cellspacing="0" in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  vertical-align: middle;
}

/* END RESET CSS */

/*	Default styles	*/

h1,h2,h3,h4,h5,h6 {
  text-rendering: optimizeLegibility;
}

table {
  font-size: inherit;
  font: 100%;
}

input {
  font: 99% sans-serif;
}

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */

code {
  font-family: monospace, sans-serif;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

input[type=button],input[type=submit],button {
  cursor: pointer;
}

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301  */

::-moz-selection {
  text-shadow: none;
  color: white;
  background: #3B92C7;
}

::selection {
  text-shadow: none;
  color: white;
  background: #3B92C7;
}

html {
  overflow-y: scroll;
}

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */

button {
  width: auto;
  overflow: visible;
}

/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* >> The Magnificent CLEARFIX << */

* html .clearfix {
  height: 1%;
}

/* Hides from IE-mac \*/

.hidden {
  display: none;
  visibility: hidden;
}

/* jQuery UI overrides */

.ui-widget-header {
  border: 0 !important;
}

/* Customized default styles */

body {
  font: 13px sans-serif;
  *font-size: small;
  *font: x-small;
  line-height: 1.22;
  font-family: georgia, serif;
  font-size: 1em;
  color: #666;
  font-weight: 85pt;
  background: url('../resources/background.gif');
  background-position: center top;
}

body.popup {
  background: #fff;
}

a {
  color: #3a80b7;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

a:link {
  -webkit-tap-highlight-color: #3a80b7;
}

a:hover,a:active {
  text-decoration: underline;
}

a:visited {
  text-decoration: #666;
}

h1 {
  font-size: 1.5em;
  line-height: 120%;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.5em;
  line-height: 120%;
  font-style: normal;
  padding-top: 27px;
  font-weight: normal;
  letter-spacing: 1px;
}

h3 {
  font-weight: normal;
  font-size: 15px;
}

/* Helper styles */

/* 	Sitewide element styles	*/

/* 	header specific styles	*/

/*	Footer specific styles	*/

/*
.footergroup .newsgroup {
	width: 105px;
	float: left;
	border-right: 1px solid #e0e0e0;
}
.footergroup .healthgroup {
	width: 115px;
	float: left;
	border-right: 1px solid #e0e0e0;
}
.footergroup .aboutgroup {
	width: 144px;
	float: left;
	border-right: 1px solid #e0e0e0;
}
.footergroup .eugroup {
	width: 265px;
	float: left;
	font-size: 12px;
	padding-top: 27px;
}
*/

/* 	Landing Page specific styles */

/* 	article specific styles	*/

/* 	sidebar specific styles */

/* index detail specific styles */

/* Myhealth specific styles */

.header {
  padding: 10px 18px;
  width: 928px;
  height: 27px;
  color: #3B92C7;
  font-size: 26px;
  letter-spacing: 0;
}

.form_footer {
  background: url("../resources/myhealth/form/myhealth_form_footer.gif");
  width: 868px;
  height: 31px;
  float: left;
  border-top: 1px solid #DDD;
  position: relative;
  top: -1px;
  left: -1px;
  padding: 21px 52px;
}

form input[type=submit] {
  /*background: url('../resources/myhealth_submit.gif') no-repeat;
	border: 0;*/
  height: 32px;
  width: 99px;
  margin-right: 30px;
}

.form_footer a {
  color: #999999;
  font-size: 12px;
  text-decoration: underline;
}

/* Myhealth specific styles */

/* Myhealth specific styles */

/* Hide this element if not needed */

/* Dropdown styles */

/*.myhealth .dropdown dd ul li {
	cursor: crosshair;
}*/

/* Barchart related styles */

/*
.myhealth.statistics .results .barchart .bar.medium .graph  {
	background: url('../resources/myhealth_statistics_bar_graph_medium.gif') no-repeat;
}
.myhealth.statistics .results .barchart .bar.unhealthy .graph  {
	background: url('../resources/myhealth_statistics_bar_graph_unhealthy.gif') no-repeat;
}
*/

/* linechart related styles */

/* semigeneralized statistics view styles */

/* Myhealth diary specific styles */

/* .myhealth.diary .currentform .print, */

.print {
  float: right;
  background: url('../resources/myhealth/diary/myhealth_diary_print.gif') no-repeat;
  height: 26px;
  line-height: 26px;
  width: 54px;
  padding-left: 34px;
  margin-right: 20px;
  margin-top: -5px;
  font-size: 13px;
}

/* .myhealth.diary .currentform .print:hover, */

.print:hover {
  background-position: 0 -26px;
  color: #fff;
  text-decoration: none;
}

/*
.myhealth.diary .post .activities .activity span {
	width: 75%;
	float: left;
}
*/

/* Ovningar related styles */

/* Myhealth specific styles */

/* very random placement of this code. */

/* Hide this element if not needed */

/* semigeneralized exercises view styles */

/* popup related styles */

.popup {
  font-family: arial, Helvetica, sans-serif;
  min-width: 0;
  font-size: 15px;
}

.popup h1 {
  font-size: 32px;
  color: #1c73a8;
  margin-bottom: 9px;
}

.popup .header {
  display: block;
  background: #f5f5f5;
  max-width: 100%;
  height: 42px;
  border-bottom: 1px solid #b3cede;
  margin-bottom: 34px;
  padding: 0;
  width: auto;
}

.popup .header * {
  margin: 0 18px;
}

.popup .header h1 {
  font-size: 20px;
  color: #0084b6;
  line-height: 42px;
  float: left;
  margin-bottom: 0;
}

.popup .header .print {
  margin-top: 8px;
}

.popup .content {
  margin: 0 41px;
}

.popup .footer {
  margin: 12px 41px;
  font-size: 11px;
  color: #808080;
  display: block;
  width: 300px;
  float: left;
}

@media print {
  .print {
    display: none;
  }
}