#instructions{padding:15px}
#instructions p{font-style:italic;font-size:12px;color:#4d4a4a}
.asterisk{color:#dc0066}
.sectionTitle{height:34px;background-image:url(http://clients.easyapp.se/healthwatch//images/divider@2x.gif);background-repeat:no-repeat;background-position:0 29px;background-size:207px 5px;margin-bottom:20px}
.sectionTitle h1{margin-left:10px;font-size:20px}
.sectionContainer .fieldContainer{margin-bottom:15px}
.sectionContainer .fieldContainer:last-child{margin-bottom:20px}
#reminderOptions,#scheduleOptions,#dailyTime{width:150px}
.fieldContainer{height:25px;display:table}
.fieldName{display:table-cell;width:80px;text-align:right;vertical-align:top}
.top{vertical-align:top}
.fieldName h2{font-weight:normal;font-size:12px;margin-top:3px}
.fieldName h2.fieldNameUpper{margin-top:-4px}
.field{display:table-cell;width:197px;padding-left:9px}
.field input[type=text],.field input[type=password]{width:177px}
input[type=text],input[type=password]{padding-left:8px;padding-right:8px;height:21px;font-size:12px;-webkit-border-radius:5px;-moz-border-radius:5px;-opera-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;border:1px solid #ccc}
.field select{width:197px}
select{height:25px;font-size:12px;font-weight:bold;color:#333;text-shadow:0 1px 0 rgba(255,255,255,0.8);-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#ccffffff,Positive=true)";zoom:1;filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)}
select option{color:#333}
.none{font-style:italic}
a{color:#06c}
