		.areas{font-size:small;}
    .statlegend{font-size:x-small;}
	
	.front_header_img {width: 235px;margin-left:0px;}
	.exheader{ margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
    .padd{ margin-left:30px;}
    .contentsmaller{font-size:smaller;}
    .noleftpadding{padding-left:0px;}
	.exerciseimg {margin-top:13px;}
	
	#progressbar {border-radius: 10px;
    border:1px solid #D0D0D0;height:8px;}
	#progressbar > div {height: 8px;border-radius: 2px;}
    
    .green {background-image:url(http://clients.easyapp.se/healthwatch//images/green.png);background-position:center;}
    .pink  {background-image:url(http://clients.easyapp.se/healthwatch//images/pink.png);background-position:center;}
    .orange{background-image:url(http://clients.easyapp.se/healthwatch//images/orange.png);background-position:center;}
    .holder{position:absolute;height: 8px; }
    .upper{border-right:2px solid #ffffff;border-left:2px solid #ffffff;} 
    .lower{width:96%;height: 8px;  }
    .statlink{background-image: url('http://clients.easyapp.se/healthwatch//images/detail_desk.gif');
        background-repeat: no-repeat;
        background-position: 0 50%;
        text-decoration: none;
        margin: -8px -5px -8px 3px;
        padding: 8px 5px 8px 20px;
    }
	.statimg{height:20px;}
	 .minihead
    {
	
	font-size:x-small;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        background-color:#494A48;
        color:White;
        height:10px;
	}
	.image{ 	width:40px; margin-top:15px} 

     #mood{border-width:0px;margin:0px 0px 0px 0px;width:100%;}

    table{
        border-collapse:collapse;
        
        height:90px;
        width:100%;
        margin:0px 0px 0px 0px;}
    td{
        text-align:center;
        vertical-align:bottom;
        margin-top:60%;
        border-right-style: solid;
        border-left-style: solid;
        border-width:1px;
        font-size:small;
        width:25%;
        }

        td.select { 
            background-color:#A3A2A6;

        }
	
	.moodimg{width:30px;margin:14px 0px 0px 27px;padding: 0px 0px 0px 0px;}
/*    .notes{height:40px;}*/
    .events{ padding: 0px 0px 0px 0px; margin:0px 0px 0px 31px;display:inline;}
	.events span {float:right;color:#A0A0A0;}
    .time{ display:inline;margin-left:15px; font-size:small; }
    .fade{ color:#7A7A7A;}
	.newsimg{margin-top:13px;margin-left:15px;}
	.center{text-align:center;}
	.req{ color:red;}
		#blue {
            background-color: rgb(0,127,181);
        }
        #red {
            background-color: rgb(220,0,102);
        }
        #green {
            background-color: rgb(189,209,66);
        }
        #orange {
            background-color: rgb(241,136,7);
        }
        .front_header {
            text-align: center;
            margin: 15px 0px 25px 0px;
            font-size: 16px;
        }
        .front_note {
            max-width: 560px;
            margin-left: auto;
            margin-right: auto;
            min-width: 268px;
            padding: 15px 15px 70px 15px;
        }
        .front_logo {
            width: 150px;
            height: 116px;
            margin-bottom: 30px;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 20px;
        }
        .front_controls {
            margin: 0 auto;
            display: inline-block;
            margin-top:-20px;
            padding:0px 0px 0px 0px;
        }
        .front_header_img { width: 235px; }
		
		#default .slogan { margin:-4px 0px 0px 0px;display:block;height:10px;width:100%;} 
		#welcomepage .list img {   float:left;width:65px; margin-right:10px;}
		#welcomepage .list h5 { margin-bottom: 5px;}
		#welcomepage .list span{ color:#909090; font-size:13px;}
		#welcomepage .list { width:100%;height:50px;}
		#welcomepage .welcome { text-align:center;font-size:13px; }
		
        #login .ui-controlgroup-controls .ui-btn-text ,.fsize12{ font-size:12px;}
        #login .ui-grid-a {width:268px;}
		#login .ui-grid-a .ui-block-a{ width:40%; }
        #login .ui-grid-a .ui-block-b{ margin-left:10%;width:40%; }
		#login .ui-grid-a .ui-btn{ width:100%; }
		#login .ui-grid-a .ui-block-b .ui-btn-inner{ width:115px; padding: 8px 8px;}
        #forgotpass .ui-controlgroup-controls .ui-btn { min-width: 130px;}
        #forgotpass .ui-controlgroup-controls .ui-btn-text { font-size:12px;}
        #forgotpass .ui-controlgroup-controls {  min-width:270px !important;}
		#welcome .ui-title { margin: 0.6em 10% 0.8em !important; }
		#default .ui-content { height:100% !important;background-color: rgb(0,127,181) !important; }
		#default .frame{ background-color: white;}
		.question{ font-size:small;font-weight:700;}
		.tile{ display:inline-block;width:60px;text-align:center;  margin:20px;padding:0px;}
        .tile a { text-decoration:none; color:#909090 !important; font-size:12px;  }
        .tile img { width:60px; } 
		
		#form .ui-slider-track {height: 10px;}
	/*	#form .ui-slider-handle {background: rgb(0,140,220);}*/
	    #form .ui-slider .ui-btn:focus {
            box-shadow: 0 0 0 transparent;
        }
        #form .ui-slider .ui-btn {
            box-shadow: 0 0 0 transparent;
            border-radius:0px !important;
        }
        #form .ui-slider-handle 
	    {
	        border: none;
            width: 20px;
            height: 20px;
            margin-left:-10px;
            margin-top:-13px;
	        background:transparent url(images/form_slider.png) no-repeat;
	        background-size:20px 20px;
	        background-position:0px 0px;
	        }
	    
		#form input.ui-slider-input { display : none ;}
		#form div.ui-slider{ width:98%;}
		#form div.ui-grid-d{text-align:center;font-size:x-small;width:100%;}
		#form .ui-grid-d .ui-block-a{text-align:left;  }
		#form .ui-grid-d .ui-block-e{ text-align:right;}
		.form_button {
          float: right;
          width: 20px;
          margin-top:12px;
        }
        .form_slider {
          width: auto;
          margin-right: 29px;    
        }
		#support .ui-content { padding:0px 10px; font-size:13px;}
		#contact .ui-controlgroup-controls .ui-btn {  min-width:98% !important;}
		#contact .ui-content { font-size:15px;}
		
		
	#more .ui-li-thumb{
        max-height: 37px; 
        max-width: 37px;
        position: absolute;
        margin: 0px auto;
    }
    #more .ui-page .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-page .ui-li-static.ui-li-has-thumb { 
        min-height: 20px; 
        padding-left:60px !important;
        vertical-align:middle;
    }
    #more .ui-page .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit img, .ui-page .ui-li-static.ui-li-has-thumb img{ 
        margin-top:3px;
        margin-left:10px;
    }
    #more .more { text-align:center;}
    #more .more img {width:180px;} 
    #more .more > div { margin:40px 0px; font-size:12px;}
		#view select{
            background-color:transparent;
            border:none;
            width:100%;
            height:30px;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-overflow: '';
            direction:rtl;
            padding:8px 0px 0px 55%;
		}
		#view .selection 
		{
			position:absolute; margin:8px 0px 0px 18px;
		}
		
		.hide { display:none;}
		.ui-title { margin: 0.6em 10% 0.8em !important; }
		 #default img {width:100%;}
		.ui-checkbox .ui-btn-text {font-size:12px;}
		.ui-controlgroup-controls {  min-width:100% !important;}
		.nopadding { padding:0px;}
		.padding8 { padding:8px;}
		.nomargin{margin: 0px; padding:0px;display:inline;}
		.center {
            text-align:center;
        }
		h4 { margin:0px 0px 0px 0px;}
		
		#measurementform .header { text-align:left;margin-top:40px;margin-top:-20px;}
        #measurementform .header h3 { margin-bottom:0; margin-left:20px; }
        #measurementform .header img { width:235px; }
        #measurementform .front_header_img {
            width: 235px;
            margin-left:-15px;
        }
        #measurementform .ui-grid-b label,.ui-grid-b .ui-block-c{font-size:12px;}  
        #measurementform .ui-grid-b .ui-block-a{ width:25%; text-align:right; margin-right:1%;margin-top:15px;}
        #measurementform .ui-grid-b .ui-block-b{ width:48%; }
        #measurementform .ui-grid-b .ui-block-c{ width:25%; text-align:left; margin-left:1%;margin-top:15px;}
        
        
        .borders { border:1px solid black;}
        #measurementform .center fieldset { display:inline-block;}
		.ui-icon-health {
        background: url(images/my_health.png) 50% 50% no-repeat;
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        
        margin-left: -15px !important;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .ui-icon-news {
        background: url(images/news.png) 50% 50% no-repeat;
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        
        margin-left: -15px !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
    }
    .ui-icon-more {
        background: url(images/more.png) 50% 50% no-repeat;
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        
        margin-left: -15px !important;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .ui-icon-bars {
        background: url(images/list_icon.png) 50% 50% no-repeat;
        background-size: 11px 11px;
        width: 18px;
        height: 18px;		
		
		
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .ui-footer .ui-btn-inner {
        padding: 1px !important;
        height:60px;
    }
    .ui-footer .ui-btn-text 
    {
        top:40px;
        font-weight:lighter;
    }