<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
              <!--<binding name="ServiceSoap1" />-->
            </basicHttpBinding>
            <!--<customBinding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>-->
        </bindings>
        <client>
            <endpoint address="https://dev-ws.healthwatch.se/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="HWService.ServiceSoap" name="ServiceSoap" />
            <!--<endpoint address="https://dev-ws.healthwatch.se/service.asmx"
                binding="customBinding" bindingConfiguration="ServiceSoap12"
                contract="HWService.ServiceSoap" name="ServiceSoap12" />-->
        </client>
    </system.serviceModel>
</configuration>
