<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<add key="RepositoryFactory" value="SQL"/>
		<add key="SqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="healthWatchSqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="eFormSqlConnection" value="Server=.;Database=eform;Trusted_Connection=True;"/>
		<add key="SmtpServer" value="127.1.2.7"/>
		<add key="eFormURL" value="http://localhost/eform"/>
		<add key="healthWatchURL" value="http://localhost/hw"/>
		<!--<add key="RepositoryFactory" value="SQL"/>
		<add key="SqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="healthWatchSqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="eFormSqlConnection" value="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="SmtpServer" value="127.1.2.7"/>
		<add key="eFormURL" value="http://localhost/eform"/>
		<add key="healthWatchURL" value="http://localhost/hw"/>-->	</appSettings>
</configuration>
