<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<connectionStrings>
		<!--<add name="eForm" connectionString="Server=.;Database=eform;Trusted_Connection=True;"/>
		<add name="healthWatch" connectionString="Server=.;Database=healthWatch;Trusted_Connection=True;"/>-->
		<add name="eForm" connectionString="Data Source=..\..\..\HW.EForm\App_Data\eForm.sqlite;Version=3"/>
		<add name="healthWatch" connectionString="Data Source=..\..\..\HW.EForm\App_Data\healthWatch.sqlite;Version=3"/>
	</connectionStrings>
	<appSettings>
		<add key="RepositoryFactory" value="SQL"/>
		<add key="SqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="healthWatchSqlConnection" value="Server=.;Database=healthWatch;Trusted_Connection=True;"/>
		<add key="eFormSqlConnection" value="Server=.;Database=eform;Trusted_Connection=True;"/>
		<add key="SmtpServer" value="127.1.2.7"/>
		<add key="eFormURL" value="http://localhost/eform"/>
		<add key="healthWatchURL" value="http://localhost/hw"/>
		<!--<add key="RepositoryFactory" value="SQL"/>
		<add key="SqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="healthWatchSqlConnection" value="database=healthwatch;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="eFormSqlConnection" value="database=eform;server=10.10.10.153,1433;user=hwdev;pwd=hwdev;"/>
		<add key="SmtpServer" value="127.1.2.7"/>
		<add key="eFormURL" value="http://localhost/eform"/>
		<add key="healthWatchURL" value="http://localhost/hw"/>-->
	</appSettings>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<!--<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>-->
			
			<property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
			
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="query.substitutions">true=1;false=0</property>
			<property name="show_sql">true</property>
			<mapping assembly="HW.Core" />
		</session-factory>
	</hibernate-configuration>
</configuration>
