table(border='0', cellspacing='0', cellpadding='0', style='font-size:12px;line-height:1.0;vertical-align:middle;')
  tbody
    tr(style='border-bottom:1px solid #333333;')
      td(colspan='2')
        b Unit
      td(align='center', style='font-size:9px;')
        b Action
      td(align='center', style='font-size:9px;')
        b Active
      td(align='center', style='font-size:9px;')
        b(style='font-size:8px;') Internal87
        br
        | 120111
        br
        | --
        br
        | 160111
      td(align='center', style='font-size:9px;')
        b(style='font-size:8px;') Internal112
        br
        | 120528
        br
        | --
        br
        | 150528
      td(align='center', style='font-size:9px;')
        b(style='font-size:8px;') Internal123
        br
        | 120829
        br
        | --
        br
        | 120829
      td(align='center', style='font-size:9px;')
        b(style='font-size:8px;')
          | WebbQPS 
          br
          |  1
        br
        | 151014
        br
        | --
        br
        | 151015
      td(align='center', style='font-size:9px;')
        b(style='font-size:8px;')
          | WebbQPS 
          br
          |  2
        br
        | 151014
        br
        | --
        br
        | 161014
      td(align='center', style='font-size:9px;')
        b Total
      td(align='center', style='font-size:9px;')
        b
          | Received 
          br
          |  Inivtation
      td(align='center', style='font-size:9px;')
        b
          | 1st invite 
          br
          |  sent
      td(align='center', style='font-size:9px;')
        b Unit ID
    tr
      td(colspan='3') Sponsor83
      td(align='center', style='font-size:9px;') 2
      td(align='center', style='font-size:9px;')
        a(href="JavaScript:void(window.open('#','es0','scrollbars=1,width=880,height=700,resizable=1,toolbar=0,status=0,menubar=0,location=0'));")
          img(src='assets/img/graphIcon2.gif', border='0')
        |  79
      td(align='center', style='font-size:9px;')
        a(href="JavaScript:void(window.open('#','es1','scrollbars=1,width=880,height=700,resizable=1,toolbar=0,status=0,menubar=0,location=0'));")
          img(src='assets/img/graphIcon2.gif', border='0')
        |  47
      td(align='center', style='font-size:9px;')   12 
      td(align='center', style='font-size:9px;')   0 
      td(align='center', style='font-size:9px;')   0 
      td(align='center', style='font-size:9px;') 8
      td(align='center', style='font-size:9px;')  100% 
      td(align='center', style='font-size:9px;')  
    tr(style='background-color:#EEEEEE')
      td(colspan='2')
        table(border='0', cellspacing='0', cellpadding='0')
          tbody
            tr
              td
                img(src='assets/img/T.gif', width='19', height='20')
              td(style='vertical-align:middle;')  Department A 
      td(align='center')
        a(href='#')
          img(src='assets/img/unt_edt.gif', border='0')
        a(href='#')
          img(src='assets/img/usr_on.gif', border='0')
      td(align='center', style='font-size:9px;')
        span(title='')
          img(src='assets/img/key.gif')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        span(title='4') 1 (25%)
      td(align='center')  
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')  5 (2) 
      td(align='center', style='font-size:9px;')  100% 
      td(align='center', style='font-size:9px;')  130710 
      td(align='center', style='font-size:9px;')  D 
    tr(style='background-color:#F6F6F6')
      td(colspan='2')
        table(border='0', cellspacing='0', cellpadding='0')
          tbody
            tr
              td
                img(src='assets/img/I.gif', width='19', height='20')
                img(src='assets/img/L.gif', width='19', height='20')
              td(style='vertical-align:middle;')  Department A1 
      td(align='center')
        a(href='#')
          img(src='assets/img/unt_edt.gif', border='0')
        a(href='#')
          img(src='assets/img/unt_del.gif', border='0')
      td(align='center', style='font-size:9px;')
        span(title='')
          img(src='assets/img/key.gif')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        span(title='') 1 (33%)
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')  3 
      td(align='center', style='font-size:9px;')  100% 
      td(align='center', style='font-size:9px;')  130710 
      td(align='center', style='font-size:9px;')  Da1 
    tr
      td(colspan='2')
        table(border='0', cellspacing='0', cellpadding='0')
          tbody
            tr
              td
                img(src='assets/img/I.gif', width='19', height='20')
                img(src='assets/img/null.gif', width='19', height='20')
                img(src='assets/img/L.gif', width='19', height='20')
              td(style='vertical-align:middle;')  Team 1 
      td(align='center')
        a(href='#')
          img(src='assets/img/unt_edt.gif', border='0')
        a(href='#')
          img(src='assets/img/usr_on.gif', border='0')
      td(align='center', style='font-size:9px;')
        span(title='')
          img(src='assets/img/key.gif')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        span(title='3') 1 (33%)
      td(align='center')  
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')  3 (1) 
      td(align='center', style='font-size:9px;')  100% 
      td(align='center', style='font-size:9px;')  130710 
      td(align='center', style='font-size:9px;')  dw 
    tr(style='background-color:#EEEEEE')
      td(colspan='2')
        table(border='0', cellspacing='0', cellpadding='0')
          tbody
            tr
              td
                img(src='assets/img/I.gif', width='19', height='20')
                img(src='assets/img/null.gif', width='19', height='20')
                img(src='assets/img/null.gif', width='19', height='20')
                img(src='assets/img/L.gif', width='19', height='20')
              td(style='vertical-align:middle;')  Team 1a 
      td(align='center')
        a(href='#')
          img(src='assets/img/unt_edt.gif', border='0')
        a(href='#')
          img(src='assets/img/usr_on.gif', border='0')
      td(align='center', style='font-size:9px;')
        span(title='')
          img(src='assets/img/key.gif')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')  2 
      td(align='center', style='font-size:9px;')  100% 
      td(align='center', style='font-size:9px;')  140204 
      td(align='center', style='font-size:9px;')  t1a 
    tr(style='background-color:#EEEEEE')
      td(colspan='2')
        table(border='0', cellspacing='0', cellpadding='0')
          tbody
            tr
              td
                img(src='assets/img/L.gif', width='19', height='20')
              td(style='vertical-align:middle;')  Department B 
      td(align='center')
        a(href='#')
          img(src='assets/img/unt_edt.gif', border='0')
        a(href='#')
          img(src='assets/img/usr_on.gif', border='0')
      td(align='center', style='font-size:9px;')
        span(title='')
          img(src='assets/img/key.gif')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')
        img(src='assets/img/key.gif', title='')
      td(align='center', style='font-size:9px;')  3 
      td(align='center', style='font-size:9px;')  100% 
      td(align='center', style='font-size:9px;')  160701 
      td(align='center', style='font-size:9px;')  DB 
    tr
      td(colspan='14', style='border-top:1px solid #333333')  
