.top
  .search
    | Search user by email
    input#ContentPlaceHolder1_SearchEmail(name='_ctl0:ContentPlaceHolder1:SearchEmail', type='text')
    input#ContentPlaceHolder1_Search(type='submit', name='_ctl0:ContentPlaceHolder1:Search', value='Search')
#ContentPlaceHolder1_ActionNav.bottom
  a.add-unit(href='org-addunit.html') Add unit
  a.import-unit(href='org-importunits.html') Import units
  a.add-user(href='org-adduser.html') Add user
  a.import-users(href='org-importusers.html') Import users
