doctype html
html
  include includes/head.jade
  body
    form
      #admin.container_16
        include includes/navbar.jade
        mixin navbar('org.html')
        .contentgroup.grid_16
          #contextbar
            include includes/orgnav.jade
            .actionPane
              .actionBlock
                span.desc Email
                input#ContentPlaceHolder1_Email.inpt(name='_ctl0:ContentPlaceHolder1:Email', type='text')
                br
                span.desc Unit
                select#ContentPlaceHolder1_DepartmentID.maxInpt(name='_ctl0:ContentPlaceHolder1:DepartmentID')
                  option(value='925') Department A
                  option(value='1256') Department A » Department A1
                  option(value='928') Department A » Department A1 » Team 1
                  option(value='1257') Department A » Department A1 » Team 1 » Team 1a
                  option(value='3541') Department B
                br
                span.desc Chef
                select#ContentPlaceHolder1_Hidden23(name='_ctl0:ContentPlaceHolder1:Hidden23')
                  option(value='NULL') -
                  option(value='421') Nej
                  option(value='422') Ja
                br
                span.desc Personnummer
                input#ContentPlaceHolder1_Hidden28(name='_ctl0:ContentPlaceHolder1:Hidden28', type='text', style='width:150px;')
                br
                span(style='color: #CC0000;')
                  span#ContentPlaceHolder1_AddUserError
                input#ContentPlaceHolder1_CancelUser.btn(type='submit', name='_ctl0:ContentPlaceHolder1:CancelUser', value='Cancel')
                input#ContentPlaceHolder1_SaveUser.btn(type='submit', name='_ctl0:ContentPlaceHolder1:SaveUser', value='Save')
          div(style='clear: both')
            span#ContentPlaceHolder1_OrgTree
              include includes/org.jade
